{{#if isReady}}
  <div class="map-popup card" style={{style}}>
    <div class="card-section">
      {{#if hasBlock}} 
        {{yield}}
      {{else}}
        {{text}}
      {{/if}}
    </div>
  </div>
{{/if}}
