{{#if layer}}
  <li {{action 'toggleVisibility'}}>
    <div class="switch tiny float-left">
      <input class="switch-input" type="checkbox" name="exampleSwitch" checked={{visible}}>
      <label class="switch-paddle" for="exampleSwitch">
        <span class="show-for-sr">Toggle Layer Group</span>
      </label>
    </div>
  </li>

  {{title}}

  {{yield (hash
    layer=layer
    )}}
{{/if}}