 {{#if configWithTemplate.isSuccessful}}
  {{#if (and config visible)}}
    {{#map.source 
      sourceId=config.id 
      options=configWithTemplate.value as |source|}}
      {{#each config.layers as |layerConfig|}}
        {{source.layer
          layer=layerConfig.layer
          before=layerConfig.before}}
      {{/each}}
    {{/map.source}}
  {{/if}}
{{/if}}

<li class='item' {{action 'toggleVisibility'}}>
  {{layer-menu-item title=config.title config=group}}
  {{if visible '(Hide)' '(Show)'}}
</li>
