<li class="lot-bookmark">
  <span class="icon tax-lot"></span>
    {{#link-to 'lot' lot.bookmark.boro lot.bookmark.block lot.bookmark.lot}}
      {{lot.bookmark.address}}
      <span class="dark-gray">
        {{lot.bookmark.bbl}}
      </span>
    {{/link-to}}
  <button class="float-right lu-red delete-bookmark-button" {{action 'deleteBookmark' lot}}>
    &times;
  </button>
</li>
