<li class="lot-bookmark">
  <span class="icon tax-lot"></span>
    {{#link-to 'map-feature.lot'
      lot.properties.boro
      lot.properties.block
      lot.properties.lot
    }}
      {{lot.properties.address}}
      <span
        class="dark-gray"
        data-test-lot-property="bbl"
      >
        {{lot.properties.bbl}}
      </span>
    {{/link-to}}
  <button class="float-right lu-red delete-bookmark-button" {{action '_deleteBookmark' lot}}>
    &times;
  </button>
</li>
