{{input type='text' placeholder='Search...' value=searchTerms}}
<button class="close-button" aria-label="Close alert" type="button">
  <span aria-hidden="true">&times;</span>
</button>
<ul class="search-results no-bullet">
  {{#each (await results) as |result|}}
    {{!-- <li>{{result.address}}</li> --}}
    {{#link-to 'lot' result.boro result.block result.lot tagName='li'}}
      {{result.address}}
    {{/link-to}}
  {{/each}}
  {{#if (is-pending results)}}
    <li class="loading">Loading...</li>
  {{/if}}
</ul>
{{yield}}
