<div class="search-container hide-for-print">
  <LabsSearch
    data-test-search="resource"
    @onSelect={{action "handleSearchSelect"}}
    @typeTitleLookup={{this.resourceTitleLookup}}
    @useSearchHistory={{true}}
  />
  <LabsBblLookup
    data-test-search="bbl"
    @onSuccess={{this.handleLookupSuccess}}
  />
</div>
