{{input type='text' placeholder='Search...' value=searchTerms}}
<button class="close-button" aria-label="Clear Search" type="button"><span>&times;</span></button>
<ul class="search-results no-bullet">
  {{#each (await results) as |result|}}
    {{#link-to 'lot' result.boro result.block result.lot tagName='li'}}
      {{to-title-case result.address}}
    {{/link-to}}
  {{/each}}

  {{#if (is-pending results)}}
    <li class="loading">Loading...</li>
  {{/if}}
</ul>
{{yield}}
