<div class="search-container hide-for-print">
  <LabsSearch
    data-test-search="resource"
    @onSelect={{action "handleSearchSelect"}}
    @typeTitleLookup={{resourceTitleLookup}}
  />
  <LabsBblLookup
    data-test-search="bbl"
    @onSuccess={{action "handleLookupSuccess"}}
  />
</div>