<div class="cyclomedia hide-for-print">
  {{#if inView}}
    <iframe
      src="https://roadview.planninglabs.nyc/view/{{lon}}/{{lat}}"
      class="cyclomedia"
      allowfullscreen=""
    ></iframe>
  {{/if}}
</div>
<IsInViewport @inView={{inView}} />