<div class="cyclomedia hide-for-print">
  <a
    class="button gray large reset-map-button hide-for-print"
    href={{this.url}}
    target="_blank"
    onClick={{this.onClick}}
  >
    <FaIcon @icon="external-link-alt" /> Cyclomedia Street View
  </a>
</div>
