<div class="switch tiny float-left">
  <input class="switch-input" type="checkbox" name="exampleSwitch" checked={{checked}}>
  <label class="switch-paddle" for="exampleSwitch">
    <span class="show-for-sr">Toggle Layer Group</span>
  </label>
</div>
{{yield}}
