@charset 'UTF-8';

//
// Custom Variables
// --------------------------------------------------
$dcp-orange: #d96b27;
$a11y-orange: #ae561f;
$dcp-yellow: #ffc861;
$a11y-yellow: #ffeec1;

$lu-peach: #FDD48D;
$lu-yellow: #F2F618;
$lu-magenta: #E362FB;
$lu-red: #FC5B5B;
$lu-orange: #FF9400;
$lu-pink: #FFC8BD;
$lu-green: #78D271;
$lu-blue: #44A3D5;
$lu-lavendar: #E0BEEB;
$lu-silver: #BAB8B6;
$lu-gray: #5F5F60;

//
// Foundation
// --------------------------------------------------
@import "settings";
@import 'foundation-sites/foundation';
@include foundation-everything;

//
// Base
// --------------------------------------------------
@import 'base/_typography';

//
// Layouts
// --------------------------------------------------
@import 'layouts/_l-default';
@import 'layouts/_l-print';

//
// Modules
// --------------------------------------------------
@import 'modules/_m-labs-beta-notice';
@import 'modules/_m-maps';
@import 'modules/_m-search';
@import 'modules/_m-site-header';
