@charset 'UTF-8';

//
// Custom Variables
// --------------------------------------------------
$dcp-orange: #d96b27;
$a11y-orange: #ae561f;
$dcp-yellow: #ffc861;
$a11y-yellow: #ffeec1;

$lu-peach: #FDD48D;
$lu-yellow: #F2F618;
$lu-magenta: #E362FB;
$lu-red: #FC5B5B;
$lu-orange: #FF9400;
$lu-pink: #FFC8BD;
$lu-green: #78D271;
$lu-blue: #44A3D5;
$lu-lavendar: #E0BEEB;
$lu-silver: #BAB8B6;
$lu-gray: #5F5F60;

//
// Foundation
// --------------------------------------------------
@import "settings";
@import 'foundation-sites/foundation';
// @include foundation-everything;

@include foundation-global-styles;
@include foundation-xy-grid-classes;
//@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
// @include foundation-accordion;
// @include foundation-accordion-menu;
@include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
@include foundation-close-button;
@include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-responsive-embed;
@include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
@include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

//
// Base
// --------------------------------------------------
@import 'base/_typography';

//
// Layouts
// --------------------------------------------------
@import 'layouts/_l-default';
@import 'layouts/_l-print';

//
// Modules
// --------------------------------------------------
@import 'modules/_m-bbl-lookup';
@import 'modules/_m-ember-tooltip';
@import 'modules/_m-features';
@import 'modules/_m-icons';
@import 'modules/_m-labs-beta-notice';
@import 'modules/_m-layer-palette';
@import 'modules/_m-maps';
@import 'modules/_m-noui';
@import 'modules/_m-search';
@import 'modules/_m-site-header';
@import 'modules/_m-tooltips';
@import 'modules/_m-spinner';

@import "ember-power-select";

@import "ember-content-placeholders";
