// --------------------------------------------------
// Default Layout
// --------------------------------------------------

.site-header {
  position: relative;
  z-index: 2;
}

.map-container {
  position: relative;
  z-index: 1;
  height: 100vw;
}
