// --------------------------------------------------
// Default Layout
// --------------------------------------------------

body > .ember-view {
  // This hacky selector gets the app.js wrapper
  @include xy-grid;

  @include breakpoint(large) {
    @include flex-align(right);
    min-height: 100vh;
    background-color: $medium-gray;
  }
}

.site-header {
  @include xy-cell-static(full,false,0);
  position: relative;
  z-index: 3;

  @include breakpoint(large) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
}

.map-container {
  @include xy-cell-static(full,false,0);
  position: relative;
  z-index: 1;
  height: 40vh;

  @include breakpoint(large) {
    @include xy-cell-static(5,false,0);
    height: calc(100vh - 9.375rem);
    position: fixed;
    top: 6rem;
    left: 0;
  }

  @include breakpoint(xlarge) {
    @include xy-cell-static(6,false,0);
  }

  @include breakpoint(xxlarge) {
    @include xy-cell-static(7,false,0);
  }
}

.content-area {
  @include xy-cell-static(full,false,0);
  position: relative;
  z-index: 2;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.1);
  background-color: $white;
  padding: $global-margin;

  @include breakpoint(large) {
    @include xy-cell-static(7,false,0);
    box-shadow: -4px 0 0 rgba(0,0,0,0.1);
    margin-top: 6rem;
    transition: width 0.5s;
  }

  @include breakpoint(xlarge) {
    @include xy-cell-static(6,false,0);
  }

  @include breakpoint(xxlarge) {
    @include xy-cell-static(5,false,0);
  }
}
