// --------------------------------------------------
// Print Layout
// --------------------------------------------------

// Adapted from paper.css https://github.com/cognitom/paper-css/blob/master/paper.css

@page { margin: 0 }

@media print {
  body {
    background: White;
    margin: 0;
  }

  a[href]:after {
    content: '' !important;
  }
}

.print-view {

  @media screen {
    & {
      overflow: scroll;
      max-height: calc(100vh - 6rem);
    }
  }

  //
  // Map
  // --------------------------------------------------
  .print-view--controls {
    // padding: 1rem;

    @media print {
      display: none;
    }
  }

  .print-view-controls--item {
    display: inline-block;
    margin: 1rem;

    button {
      margin-left: 0.5rem;
    }
  }

  .print-view-controls--header {
    display: inline;
  }

  //
  // Paper
  // --------------------------------------------------
  .paper {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;

    /** Paper sizes **/
    &.A3               { width: 297mm; height: 419mm; max-width: 297mm; }
    &.A3.landscape     { width: 420mm; height: 296mm; max-width: 420mm; }
    &.A4               { width: 210mm; height: 296mm; max-width: 210mm; }
    &.A4.landscape     { width: 297mm; height: 209mm; max-width: 297mm; }
    &.A5               { width: 148mm; height: 209mm; max-width: 148mm; }
    &.A5.landscape     { width: 210mm; height: 147mm; max-width: 210mm; }
    &.letter           { width: 216mm; height: 279mm; max-width: 216mm; }
    &.letter.landscape { width: 280mm; height: 215mm; max-width: 280mm; }
    &.legal            { width: 216mm; height: 356mm; max-width: 216mm; }
    &.legal.landscape  { width: 357mm; height: 215mm; max-width: 357mm; }
    &.tabloid          { width: 279mm; height: 432mm; max-width: 279mm; }
    &.tabloid.landscape{ width: 432mm; height: 279mm; max-width: 432mm; }

    /** Padding area **/
    &.padding-7mm { padding: 7mm }
    &.padding-10mm { padding: 10mm }
    &.padding-15mm { padding: 15mm }
    &.padding-20mm { padding: 20mm }
    &.padding-25mm { padding: 25mm }

    /** Fix for Chrome issue #273306 **/
    @media print {
      &.A3.landscape            { width: 420mm }
      &.A3, .paper.A4.landscape { width: 297mm }
      &.A4, .paper.A5.landscape { width: 210mm }
      &.A5                      { width: 148mm }
      &.letter, .paper.legal    { width: 216mm }
      &.letter.landscape        { width: 280mm }
      &.legal.landscape         { width: 357mm }
    }

    @media screen {
      & {
        background: White;
        box-shadow: 0 0.5mm 4mm rgba(0,0,0,0.3);
        margin: 1rem auto;
        transform-origin: left top;
      }
    }

    //
    // Map
    // --------------------------------------------------
    .map-grid {
      height: 100%;
    }
    .map-container {
      position: absolute;
      top: 7mm;
      right: calc(27% + 3.5mm);
      left: 7mm;
      width: auto;
      height: calc(45% - 10.5mm);
      padding: 0;
      box-shadow: none;
    }


    //
    // Layer menu
    // --------------------------------------------------
    .layer-palette {
      position: absolute;
      top: 7mm;
      right: 7mm;
      bottom: 7mm;
      left: 73%;
      width: auto;
      height: auto;
      padding: 0;
      margin-top: 0;
      box-shadow: none;
      background-color: White;
    }

    #layers-menu {
      // pointer-events: none; // Prevent interaction with layer group toggles

      .layer-groups-container {
        // border-bottom: 0;
        margin-bottom: 2mm;
        padding-bottom: 2mm;
      }

      .layer-groups-container-title {
        padding-left: 0;
        padding-right: 0;
        font-size: 9pt;

        &::after {
          display: none;
        }
      }

      .layer-group-toggle {
        border-top: 0;
        font-size: 7pt;
        box-shadow: inset 0 1px 0 0 $white-smoke;
      }

      .layer-group-toggle-label {
        padding-right: 0;
        padding-left: 0;
      }

      .legend-item {
        font-size: 7pt;
        padding: 0;
      }
    }


    //
    // Content area
    // --------------------------------------------------
    .content-area {
      position: absolute;
      top: 45%;
      right: calc(27% + 3.5mm);
      bottom: 7mm;
      left: 7mm;
      width: auto;
      height: auto;
      overflow: visible;
      padding: 0;
      box-shadow: none;
      background-color: White;
      font-size: 10pt;

      // Prevent click changing route
      a, button { pointer-events: none; }

      h1 { font-size: 17pt; }
      h2 { font-size: 15pt; }
      h3 { font-size: 13pt; }
      h4 { font-size: 11pt; }
      h5 { font-size: 9pt; }
      h6 { font-size: 7pt; }

      .content-header {
        font-size: 13pt;
        margin-bottom: 2pt;
      }

      .header-label { font-size: 7pt; }

      p, ul {
        font-size: 9pt;
        margin-bottom: 2pt;
      }

      .text-small { font-size: 7pt; }

      .lot-zoning-list {
        margin: 4pt 0;

        .button {
          font-size: 7pt;
          color: $black;
          background-color: $white-smoke;
          font-weight: bold;
        }
      }

      .data-grid {
        background-color: White;

        .data-label {
          font-size: 7pt;
          width: 80pt;
          background-color: White;
          padding: 0;
        }
        .datum {
          font-size: 7pt;
          width: auto;
        }
      }
    }


    //
    // Map Controls
    // --------------------------------------------------
    .mapboxgl-ctrl-scale {
      // Make the scale a bit smaller
      font-size: 6pt;
      line-height: 1.5;
      padding: 0 1pt;
    }


    //
    // Don't print this stuff!!!
    // --------------------------------------------------
    .hide-for-print, // Hide everything that doesn't print
    .content-close-button-container,
    .layer-group-toggle > :first-child:last-child, // Only print layer groups if they're on
    .layer-group-toggle-header .switch,
    .fa-external-link-alt,
    .fa-info-circle,
    .mapboxgl-ctrl-top-left,
    .mapboxgl-ctrl-bottom-right,
    .mapboxgl-ctrl.print-controls {
      display: none !important;
    }
  }
}
