[build]
command = "API_HOST=https://layers-api-staging.planninglabs.nyc FEATURE_FLAG_SHOW_ZFA_LAYER=ON yarn build --environment=production"

[context.develop]
command = "CARTO_USER=dcpadmin API_HOST=https://layers-api-staging.planninglabs.nyc FEATURE_FLAG_SHOW_ZFA_LAYER=ON yarn build --environment=development"

[context.data-qa]
command = "CARTO_USER=dcpadmin API_HOST=https://layers-api-data.planninglabs.nyc FEATURE_FLAG_SHOW_ZFA_LAYER=ON yarn build --environment=production"

[context.master]
command = "yarn build --environment=production"
