[build]
command = "yarn build"

[context.develop]
command = "yarn build --environment=development"

[context.develop.environment]
CARTO_USER = "dcpadmin"
API_HOST = "https://layers-api-staging.planninglabs.nyc"

[context.data-qa]

[context.data-qa.environment]
CARTO_USER = "dcpadmin"
API_HOST = "https://layers-api-data.planninglabs.nyc"

[context.production]
