{{!-- template-lint-disable no-inline-styles --}}
<span class="legend-icon-layer" style={{this.spanStyle}}>
  <FaIcon
    @icon={{options.fa-icon}}
    @transform={{options.transform}}
    @prefix={{options.prefix}}
  />
</span>
