// --------------------------------------------------
// Base: Typography
// --------------------------------------------------

//
// Headings
// --------------------------------------------------
.header-xxlarge { @extend h1; }
.header-xlarge {  @extend h2; }
.header-large {   @extend h3; }
.header-medium {  @extend h4; }
.header-small {   @extend h5; }
.header-tiny {    @extend h6; }

h6,
.header-tiny {
  text-transform: uppercase;
  font-weight: $global-weight-normal;
  margin-bottom: 0.5em;
}

.content-header {
  margin: 0;
}
.content-subheader {
}

.header-type {
  color: $dark-gray;
  font-weight:600;
}

.header-subtext {
  color: $dark-gray;
  font-size: .8rem;
}

//
// Typograhpy helper classes
// --------------------------------------------------
.nowrap {
  white-space: nowrap;
}
.no-margin {
  margin: 0 !important;
}

.text-small {
  font-size: rem-calc(12);
  line-height: 1.7;
}

.light-gray { color: $light-gray; }
.medium-gray { color: $medium-gray; }
.dark-gray { color: $dark-gray; }
.dcp-orange { color: $dcp-orange; }

// Land Use colors
.lu-peach { color: $lu-peach; }
.lu-yellow { color: $lu-yellow; }
.lu-magenta { color: $lu-magenta; }
.lu-red { color: $lu-red; }
.lu-orange { color: $lu-orange; }
.lu-pink { color: $lu-pink; }
.lu-green { color: $lu-green; }
.lu-blue { color: $lu-blue; }
.lu-lavendar { color: $lu-lavendar; }
.lu-silver { color: $lu-silver; }
.lu-gray { color: $lu-gray; }

//
// Data Grid
// --------------------------------------------------
$data-grid-margin: rem-calc(10);
.data-grid {
  @include xy-grid;

  @include breakpoint(medium) {
    @include xy-gutters(
      $gutters:$data-grid-margin,
      $gutter-type:margin,
      $gutter-position:right left,
      $negative:true
    );
  }
}

.data-cell {
  @include xy-cell-static(full,false,0);
  margin-bottom: $data-grid-margin;
  border: 1px solid $light-gray;

  @include breakpoint(medium) {
    @include xy-cell-static(
      $size:4,
      $gutter-output:true,
      $gutters:$data-grid-margin,
      $gutter-type:margin,
      $breakpoint:null,
      $vertical:false
    );
  }

  @include breakpoint(large) {
    @include xy-cell-static(
      $size:6,
      $gutter-output:true,
      $gutters:$data-grid-margin,
      $gutter-type:margin,
      $breakpoint:null,
      $vertical:false
    );
  }

  @include breakpoint(xlarge) {
    @include xy-cell-static(
      $size:4,
      $gutter-output:true,
      $gutters:$data-grid-margin,
      $gutter-type:margin,
      $breakpoint:null,
      $vertical:false
    );
  }

  .data-label {
    background-color: $light-gray;
    font-size: rem-calc(10);
    padding: rem-calc(2) rem-calc(5);
  }

  .datum {
    display: block;
    padding: rem-calc(3) rem-calc(5);
    font-size: rem-calc(14);
    line-height: 1.2;
  }
}
