// --------------------------------------------------
// Module: Labs Beta Notice
// --------------------------------------------------

.labs-beta-notice {
  display: block;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  height: rem-calc(21);
  line-height: 21px;
  text-align: center;
  background-color: #D96B27;
  box-shadow: inset 0 -4px 0 rgba(0,0,0,0.1);
}
.labs-beta-notice:hover, .labs-beta-notice:focus {
  color: #fff;
  background-color: #b95b21;
  text-decoration: none;
}
