// --------------------------------------------------
// Module: Maps
// --------------------------------------------------

#main-map {
  height: 100%;
  width: 100%;

  z-index: 1;
}

.layers-menu {
  position: absolute;
  right: 0;
  z-index: 5;
}
