// --------------------------------------------------
// Module: Maps
// --------------------------------------------------

#main-map {
  height: 100%;
  width: 100%;

  z-index: 1;
}

.layer-menu-item {
  position: absolute;
  left: 0;
  z-index: 5;
}
