// --------------------------------------------------
// Module: Site Header
// --------------------------------------------------

$logo-height-small: rem-calc(24);
$logo-height-medium: rem-calc(36);

.site-header {
  background-color: $white;
  box-shadow: 0 4px 0 rgba(0,0,0,0.1);

  .branding {
    padding-top: $global-margin;
    padding-bottom: $global-margin;
  }

  .dcp-logo {
    height: $logo-height-small;
    float: left;
    margin-right: $global-margin;

    @include breakpoint(medium) {
      height: $logo-height-medium;
    }
  }

  .site-name {
    font-size: $logo-height-small*0.8;
    font-weight: $global-weight-bold;
    line-height: 1.5;

    @include breakpoint(medium) {
      font-size: $logo-height-medium*0.8;
    }
  }

  .site-subtitle {
    font-size: 0.5em;
    font-weight: $global-weight-normal;
    color: $dark-gray;
    @include breakpoint(large) {
      font-size: 0.7em;
      letter-spacing: -0.02em;
    }
  }
  a:hover .site-subtitle {
    color: $anchor-color;
  }

  .menu {
    a {
      color: $dark-gray;
      line-height: 1.5;
      padding: (rem-calc(11)+$global-margin) rem-calc(20);
      font-size:  rem-calc(14);
      font-weight: $global-weight-bold;

      &:hover {
        background-color: $light-gray;
        color: $black;
      }
    }
  }

  .responsive-nav-toggler {
    color: $dark-gray;
    background-color: $light-gray;
    font-size:  rem-calc(14);
    font-weight: $global-weight-bold;
    line-height: $logo-height-small;
    cursor: pointer;
    margin: $global-margin/2 0;
    padding: rem-calc(10) rem-calc(16);

    @include breakpoint(medium) {
      margin: $global-margin 0;
    }
  }
}
