// --------------------------------------------------
// Module: Search
// --------------------------------------------------

.search {
  background-color: $white;
  padding: rem-calc(9) rem-calc(6) rem-calc(6);
  box-shadow: 0 4px 0 rgba(0,0,0,0.1);
  position: relative;
  z-index: 2;

  @include breakpoint(large) {
    padding-right: rem-calc(9);
  }

  input {
    margin: 0;
  }

  .close-button {
    margin-top: rem-calc(2);
  }
}

.search-results {
  background-color: rgba($white,0.94);
  font-size: rem-calc(12);
  width: 100%;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: auto;
  left: 0;
  box-shadow: 0 4px 0 rgba(0,0,0,0.1);
  opacity: 0;
  transition: opacity 0.3s;

  &.has-results {
    opacity: 1;
  }

  li {
    color: $anchor-color;
    border-top: 1px solid $medium-gray;
    padding: $global-margin/2;
    cursor: pointer;
    transition: $button-transition;

    &:hover {
      color: $anchor-color-hover;
      background-color: $light-gray;
    }
  }
}

.highlighted-result {
  color: $anchor-color-hover;
  background-color: $medium-gray;
}

.search-results--loading {
  border-top: 1px solid $medium-gray;
  padding: $global-margin/2;
  color: $dark-gray;
  background-color: rgba($white,0.94);
  font-size: rem-calc(12);
  width: 100%;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: auto;
  left: 0;
  box-shadow: 0 4px 0 rgba(0,0,0,0.1);
}
