// --------------------------------------------------
// Module: Search
// --------------------------------------------------

.search {
  background-color: $white;
  padding: rem-calc(9) rem-calc(6) rem-calc(6);
  box-shadow: 0 4px 0 rgba(0,0,0,0.1);
  position: relative;
  z-index: 2;

  @include breakpoint(large) {
    padding-right: rem-calc(9);
  }

  input {
    margin: 0;
  }
}

.search-results {
  background-color: $white;
  width: 100%;
  position: absolute;
  top: 100%;
  font-size: rem-calc(12);
  cursor: pointer;
  margin-left: rem-calc(-6);

  li {
    padding: $global-margin / 2;
    &:hover {
      background-color: $light-gray;
    }
  }

  li+li {
    border-top: 1px solid $medium-gray;
  }
}
