// --------------------------------------------------
// Module: Search
// --------------------------------------------------

.search {
  background-color: $light-gray;
  padding: rem-calc(9) rem-calc(6) rem-calc(6);
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
  position: relative;
  z-index: 2;

  @include breakpoint(large) {
    position: fixed;
    top: 6rem;
    left: 0;
    width: 15rem;
    box-shadow: 0 2px 0 rgba(0,0,0,0.1), 2px 0 0 rgba(0,0,0,0.1);
  }

  @include breakpoint(xlarge) {
    width: 17.5rem;
  }

  input {
    margin: 0;
    padding-right: 2rem;
  }

  .close-button {
    margin-top: rem-calc(2);
  }

  .search-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $medium-gray;
    pointer-events: none;
  }
}

.search-results {
  background-color: rgba($white,0.94);
  font-size: rem-calc(12);
  width: 100%;
  position: absolute;
  top: 100%;
  right: auto;
  bottom: auto;
  left: -200%; // hide by default, show with .focused
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
  opacity: 0;
  transition: opacity 0.5s, left 0;
  transition-delay: 0.2s;

  @include breakpoint(large) {
    width: 22rem;
    box-shadow: 4px 4px 0 rgba(0,0,0,0.1);
    padding: 0 rem-calc(6) rem-calc(6);
    max-height: calc(100vh - 9.375rem);
    overflow: auto;
  }

  &.focused {
    left: 0;
  }

  &.has-results {
    opacity: 1;
  }

  .results-header {
    margin: rem-calc(10) 0 0;
  }
  li:first-child .results-header {
    margin-top: 0;
  }

  li {
    padding: $global-margin/2;
  }

  li:not(:first-child) {
    border-top: 1px solid $medium-gray;
  }

  .result {
    color: $anchor-color;
    cursor: pointer;
    transition: $button-transition;

    &:hover,
    &.highlighted-result {
      color: $anchor-color-hover;
      background-color: $a11y-yellow;
      // box-shadow: inset rem-calc(-6) 0 0 $primary-color;
    }
  }

  .subdued {
    color: $dark-gray;
  }
}

.highlighted-result {
  color: $anchor-color-hover;
  background-color: $medium-gray;
}

.search-results--loading {
  border-top: 1px solid $medium-gray;
  padding: $global-margin/2;
  color: $dark-gray;
  background-color: rgba($white,0.94);
  font-size: rem-calc(12);
  width: 100%;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: auto;
  left: 0;
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);

  @include breakpoint(large) {
    border-top: 0;
    width: auto;
    padding: rem-calc(6);
    color: $body-font-color;
    font-weight: $global-weight-bold;
  }
}
