// --------------------------------------------------
// Module: Zoning Map Index
// --------------------------------------------------

.external-map-links p:not(:last-of-type) {
  margin-bottom: 0.25rem;
}
