<label class="header-type">
  ZONING FOR ACCESSIBILITY
</label>
<h1 class="header-large uppercase">
  Transit Station Buffer
</h1>

<p>
  Transit-adjacent Area: Areas near mass transit stations where applicable developments and enlargements are subject to
  additional consultation with the Metropolitan Transportation Authority or other transit agencies with jurisdiction over
  that mass transit station.
</p>

<p>
  <a
    href="https://www.nyc.gov/content/planning/pages/our-work/plans/citywide/elevate-transit-zoning-accessibility"
    target="_blank"
    rel="noopener noreferrer">
    <FaIcon @icon="external-link-alt" />
    &nbsp;Zoning for Accessibility
  </a>
</p>

{{yield}}