<div class="text-box">
  <p>C1-6 through C1-9 and C2-6 through C2-8 districts are commercial districts that are predominantly residential in
    character. They are mapped along major thoroughfares in medium- and higher-density areas of the city, such as Second
    and Lexington Avenues on the Upper East Side or Columbus and Amsterdam Avenues on the Upper West Side. As in <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#commercial_overlay"
      class="glossary">commercial overlays districts</a>, typical retail uses include grocery stores, dry cleaners, drug
    stores, restaurants and local clothing stores that cater to the daily needs of the immediate neighborhood. There are
    only minor differences between C1 and C2 districts, with a slightly wider range of uses permitted in C2 districts,
    such as funeral homes and local repair services. In <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#mixed_building" class="glossary">mixed buildings</a>,
    commercial uses are limited to one or two floors and must always be located below the residential use.</p>
  <p>The maximum commercial <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor"
      class="glossary">floor area ratio</a> (FAR) is 2.0. Residential uses are governed by a specific <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#residental_district_equivalent"
      class="glossary">residential district equivalent</a>. For example, in C1-6 districts, the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#bulk" class="glossary">bulk</a> regulations of R7
    districts apply for residential uses, and in C2-8A districts, the bulk regulations of R10A districts apply.</p>
  <p>Since these districts are usually mapped in areas well served by mass transit, off-street parking is generally not
    required.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/commercial/c1_c2_diagram.jpg"
        alt="C1 and C2  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/c1_c2_diagram.pdf?r=1">C1 and C2
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/commercial/c1_c2__table.jpg"
        alt="C1 and C2 Commercial Districts Table"></div>
  </div>
</div>