<div class="text-box">
  <p>C3 and C3A districts permit waterfront recreational activities, primarily boating and fishing, in areas along the
    waterfront that are usually adjacent to residential districts. In addition to facilities for docking, renting,
    servicing and storing fishing and pleasure boats, permitted activities include aquatic sports equipment sales and
    rentals, bicycle shops, ice cream stores and public and private beaches. These waterfront <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#use" class="glossary">uses</a> are listed in <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#use_group" class="glossary">Use
      Group</a> 14. C3 and C3A districts also permit residences and community facilities (Use Groups 1–4). C3A districts
    are mapped in Staten Island and the Throgs Neck area of the Bronx. C3 districts are found on City Island and along
    Mill Basin in Brooklyn.</p>
  <p>The commercial <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor"
      class="glossary">floor area ratio</a> (FAR) permitted in C3 districts is 0.5. Commercial buildings may be no more
    than two stories or 30 feet high, whichever is less. Residential development in C3 districts is governed by R3-2
    district regulations; in C3A districts, residential development is governed by R3A regulations which permit single-
    and two-family detached residences and zero lot line buildings. In a <a target="_blank"
    href="https://www.nyc.gov/site/planning/zoning/glossary.page#mixed_building" class="glossary">mixed building</a>,
    commercial uses may occupy the ground floor only.</p>
  <p>Off-street parking requirements are high, but vary with the use.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/commercial/c3_diagram.jpg"
        alt="C3 Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/c3_diagram.pdf">C3
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/commercial/c3_table.jpg"
        alt="C3 Commercial Districts Table"></div>
  </div>
</div>