<div class="text-box">
  <p>C4 districts are mapped in regional commercial centers, such as Flushing in Queens and the Hub in the Bronx, that
    are located outside of the central business districts. In these areas, specialty and department stores, theaters and
    other commercial and office <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#use"
      class="glossary">uses</a> serve a larger region and generate more traffic than neighborhood shopping areas. <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#use_group" class="glossary">Use
      Groups</a> 5, 6, 8, 9, 10 and 12, which include most retail establishments, are permitted in C4 districts. Uses
    that would interrupt the desired continuous retail frontage, such as home maintenance and repair service stores
    listed in Use Group 7, are not allowed.</p>
  <p>C4 districts with an A, D or X suffix are <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#contextual" class="glossary">contextual districts</a>
    in which the commercial and residential <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#bulk" class="glossary">bulk</a> and <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#density" class="glossary">density</a>
    regulations can differ from corresponding non-contextual districts. Some districts have the same commercial and
    residential <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor"
      class="glossary">floor area ratios</a> (FAR) as shown in the table, but may differ in parking requirements. Floor
    area may be increased with a <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#public_plaza" class="glossary">public plaza</a> or<a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#inclusionary"
      class="glossary exitlink"> Inclusionary Housing Program</a> bonus.</p>
  <p>C4-1 districts are mapped in outlying areas, such as the Staten Island Mall, that require large amounts of parking.
    C4-2 through C4-5 districts are mapped in more densely built areas, such as Steinway Street in Astoria (C4-2A),
    Fordham Road (C4-4), and parts of Jamaica (C4-5X). C4-6 and C4-7 districts are mapped in densely built areas in
    Manhattan, including most of Broadway on the Upper West Side (C4-6A) and portions of central Harlem (C4-7).</p>
  
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/commercial/c4_diagram.jpg"
        alt="C4 Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/c4_diagram.pdf">C4
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/commercial/c4_table1.jpg"
        alt="C4 Commercial Districts Table 1"></div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/commercial/c4_table2.jpg"
        alt="C4 Commercial Districts Table 2"></div>
  </div>
</div>