<div class="text-box">
  <p>C5 is a central commercial district with continuous retail frontage intended for offices and retail establishments
    that serve the entire metropolitan region. Famous shopping streets, such as Fifth Avenue, Madison Avenue and East
    57th Street are C5 districts. Parts of Lower Manhattan, Downtown Brooklyn and Long Island City are also within C5
    districts.</p>
  <p>Department stores, large office buildings, and <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#mixed_building" class="glossary">mixed buildings</a>
    with residential space above office or commercial floors, are typical C5 <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#use" class="glossary">uses</a>. <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#use_group" class="glossary">Use Groups</a> 5
    (hotels), 6, 9 and 10 (retail shops and business services) and 11 (custom manufacturing) are permitted in C5
    districts. Home maintenance services, auto rental establishments and other uses not in character with the district,
    including illuminated signs, are not permitted.</p>
  <p>The maximum commercial <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor"
      class="glossary">floor area ratio</a> (FAR) ranges from 4.0 to 15.0, and the maximum residential FAR is 10.0.
    Floor area may be increased by a bonus for a <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#public_plaza" class="glossary">public plaza</a> or <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#inclusionary"
      class="glossary exitlink">Inclusionary Housing</a>.</p>
  <p>In the two <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#contextual"
      class="glossary">contextual</a> C5 districts—C5-1A and C5-2A—residential <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#bulk" class="glossary">bulk</a> and <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#density" class="glossary">density</a>
    are governed by R10A regulations. In non-contextual C5-2 through C5-5 districts, a building occupied by commercial,
    residential and/or community facility uses may be configured as a <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#tower" class="glossary">tower</a>. A residential
    tower is also allowed in C5-1 districts.</p>
  <p>All commercial uses in C5 districts are exempt from off-street parking requirements because public transportation
    is easily accessible.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/commercial/c5_table.jpg"
        alt="C5 Regulations Table"></div>
  </div>
</div>