<div class="text-box">
  <p>C6 districts permit a wide range of high-bulk commercial <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#use" class="glossary">uses</a> requiring a central
    ­location. Most C6 districts are in Manhattan, Downtown Brooklyn
    and Downtown Jamaica; a C6-3D district is mapped in the Civic Center area of the Bronx. Corporate headquarters,
    large hotels, department stores and entertainment facilities in high-rise <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#mixed_building" class="glossary">mixed buildings</a>
    are permitted in
    C6 districts.</p>
  <p>C6-1, C6-2 and most C6-3 districts, typically mapped in areas outside central business cores, such as the Lower
    East Side and Chelsea, have a commercial <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor area ratio</a> (FAR) of
    6.0; the C6-3D district has an FAR of 9.0. C6-4 through C6-9
    districts, typically mapped within the city’s major business districts, have a maximum FAR of 10.0 or 15.0,
    exclusive of any applicable bonus. Floor area may be increased by a bonus for a <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#public_plaza" class="glossary">public plaza</a> or <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#inclusionary"
      class="glossary exitlink">Inclusionary
      Housing</a>.</p>
  <p>C6-2A, C6-3A, C6-3X and C6-4A are contextual districts with maximum building heights. C6-3D and C6-4X districts
    allow towers above a building base; special rules determine the tower’s height and articulation. All other C6
    districts allow towers to penetrate a <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#sky_exposure_plane" class="glossary">sky exposure
      plane</a> and do not require a contextual base.</p>
  <p>C6 districts are widely mapped within special districts. C6-4.5, C6-5.5, C6-6.5 and C6-7T districts are mapped
    only within the Special Midtown District and have unique floor area ratios and bonus rules. C6-1G, C6-2G, C6-2M
    and C6-4M districts are mapped in Chinatown and Chelsea and in the Special Garment Center District, and have rules
    for the conversion of non-residential space to residential use.</p>
  <p>C6 districts are well served by mass transit, and off-street parking is generally not required, except within the
    C6-3D district.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/commercial/c6_diagram.jpg"
        alt="C6 Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/c6_diagram.pdf">C6
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/commercial/c6_table.jpg"
        alt="C6 Commercial Districts Table 1"></div>
  </div>
</div>