<div class="text-box">
  <p>C7 districts are specifically designated for large open amusement parks. In addition to the types of activities
    commonly found in amusement parks, such as ferris wheel rides and games of chance (<a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#use_group" class="glossary">Use Group</a> 15), C7
    districts also permit boating facilities and other large open and enclosed entertainment facilities like skating
    rinks, sports stadiums and miniature golf courses (Use Groups 12–14). Residential and community facility <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#use" class="glossary">uses</a> are
    not permitted.</p>
  <p>The maximum floor area ratio is 2.0. Off-street parking requirements are low, but vary with the specific use.</p>
  <p>The Coney Island amusement park area is zoned C7.</p>

  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/commercial/c7_diagram.jpg"
        alt="C7  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/c7_diagram.pdf">C7
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/commercial/c7_table.jpg"
        alt="C7 Commercial Districts Table"></div>
  </div>
</div>