<div class="text-box">
  <p>C8&nbsp;districts, bridging commercial and manufacturing <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#use" class="glossary">uses</a>, provide for
    automotive and other heavy commercial services that often require large amounts of land. Parts of Bay Ridge in
    Brooklyn and Castleton Corners on Staten Island are mapped C8. Typical uses are automobile showrooms and repair
    shops, warehouses, gas stations and car washes—although all commercial uses (except large, open amusements) as well
    as certain community facilities are permitted in C8 districts. Housing is not permitted and <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#performance_standard" class="glossary">performance
      standards</a> are imposed for certain semi-industrial uses (<a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#use_group" class="glossary">Use Group</a> 11A and
    16).</p>
  <p>C8 districts are mapped mainly along major traffic arteries, such as Boston Road and Jerome Avenue in the Bronx and
    Coney Island Avenue in Brooklyn, where concentrations of automotive uses have developed.</p>
  <p>The <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor
      area ratio</a> (FAR) ranges from 1.0 in C8-1 districts to 5.0 in C8-4 districts.</p>
  <p>Off-street parking requirements vary with district and use. Automotive uses in C8-1 to C8-3 districts require
    substantial parking. C8-4 districts are usually exempt from parking requirements.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/commercial/c8_diagram.jpg"
        alt="C8  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/c8_diagram.pdf">C8
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/commercial/c8_table.jpg"
        alt="C8 Commercial Districts Table"></div>
  </div>
</div>