<div class="text-box">
  <p>M1 districts range from the Garment District in Manhattan and Port Morris in the Bronx with multistory <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#loft" class="glossary">lofts</a>, to
    parts of Red Hook or College Point with one- or two-story warehouses characterized by loading bays. M1 districts are
    often buffers between M2 or M3 districts and adjacent residential or commercial districts. M1 districts typically
    include light industrial uses, such as woodworking shops, repair shops, and wholesale service and storage
    facilities.
    Nearly all industrial uses are allowed in M1 districts if they meet the stringent M1 <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#performance_standard" class="glossary">performance
      standards</a>. Offices, hotels and most retail uses are also permitted. Certain community facilities, such as
    hospitals, are allowed in M1 districts only by <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#special_permit" class="glossary">special permit</a>,
    but houses of worship are allowed <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#as_of_right_dev" class="glossary">as-of-right</a>.
  </p>
  <p>Other than M1 districts paired with residence districts in <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#mixed_use_district" class="glossary">Special Mixed
      Use
      Districts</a>, M1-5M and M1-6M districts (by special permit) and M1-D districts (by authorization or
    certification)
    are the only manufacturing districts in which residences are permitted. However, in M1-6D districts, residential use
    may be allowed as-of-right on zoning lots under certain conditions.</p>
  <p>In M1-5M and M1-6M districts, mapped in parts of Chelsea, space in an industrial building may be converted to
    residential <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#use"
      class="glossary">use</a>, provided a specified amount of floor area is preserved for particular industrial and
    commercial uses.</p>
  <p>Floor area ratios in M1 districts range from 1.0 to 10.0, depending on location; building height and <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#setback_building"
      class="glossary">setbacks</a> are controlled by a sky exposure plane which may be penetrated by a <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#tower" class="glossary">tower</a> in
    certain districts.
    Although new industrial buildings are ­usually low-rise structures that fit within <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#sky_exposure_plane" class="glossary">sky exposure
      plane</a>, commercial and community facility buildings can be constructed as towers in M1-3 through M1-6
    districts.
    In the highest density manufacturing district, M1-6, mapped only in Manhattan, an FAR of 12 can be achieved with a
    bonus for a <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#public_plaza"
      class="glossary">public plaza</a>. Except along district boundaries, no side yards are required. Rear yards at
    least
    20 feet deep are usually required, except within 100 feet of a corner.</p>
  <p>Parking and loading requirements vary with district and use. M1-1, M1-2 and M1-3 districts are subject to parking
    requirements based on the type of use and size of an establishment. For example, a warehouse in an M1-1 district
    requires one off-street parking space per 2,000 square feet of floor area or per every three employees, whichever
    would be less. Parking is not required in Long Island City or M1-4, M1-5 and M1-6 districts, mapped mainly in
    Manhattan. Requirements for loading berths of specified dimensions differ according to district, size and type of
    use.
  </p>
  <div>
    <div><br></div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/mfg/m1_1_and_m1_3_diagram.jpg"
        alt="m1_1_and_m1_3_diagram">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/m1_1_and_m1_3_diagram.pdf">M1-1
          and M1-3 Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/mfg/m1_table.jpg"
        alt="M1 Manufacturing Districts Table"></div>
  </div>
</div>