<div class="text-box">
  <p>M2 districts occupy the middle ground between light and heavy industrial areas. The four M2 districts, with
    different <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor"
      class="glossary">floor area ratios</a> (FAR) and parking requirements, are mapped mainly in the city’s older
    industrial areas along the waterfront. M2-1 districts, for example, are mapped along much of Brooklyn’s Red Hook
    and Sunset Park waterfronts. Manhattan’s Hudson River piers, including the Passenger Ship Terminal and many
    municipal facilities, are within M2-3 districts.</p>
  <p> Required <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#performance_standard"
      class="glossary">performance standards</a> in all M2 districts are lower than in M1 districts. Except when M2
    uses border on a residence district, higher levels of noise and vibration are allowed, smoke is permitted and
    industrial activities need not be entirely enclosed.</p>
  <p> The FAR is 2.0 in M2-1 and M2-3 districts and 5.0 in M2-2 and M2-4 districts. The maximum <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#base_height" class="glossary">base heights</a>
    before <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#setback_building"
      class="glossary">setback</a> is 60 feet in M2-1 and M2-3 districts; and 85 feet in M2-2 and M2-4 districts.</p>
  Parking requirements vary according to <a target="_blank"
    href="https://www.nyc.gov/site/planning/zoning/glossary.page#use" class="glossary">use</a> and are the same as for
  the M1 and M3 districts. M2-3 and M2-4 districts, mapped only in Manhattan, are exempt from parking requirements, as
  are M2 districts in Long Island City. Loading berth requirements differ according to district, type of use and size
  of establishment
  <div>
    <div> </div>
  </div>

  <div class="row img-row">
    <div class="span12"> <img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/mfg/m2_diagram.jpg"
        alt="M2 Regulations">
      <div class="img-caption"><img src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif"
          alt="PDF Document" class="file_icon"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/m2_diagram.pdf">M2
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"> <img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/mfg/m2_table.jpg"
        alt="M2 Manufacturing Districts Table"> </div>
  </div>
</div>
