<div class="text-box">
  <p>M3 districts are designated for areas with heavy industries that generate noise, traffic or pollutants. Typical
    uses include power plants, solid waste transfer facilities and recycling plants, and fuel supply depots. Even in
    M3 districts, uses with potential nuisance effects are required to conform to minimum <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#performance_standard" class="glossary">performance
      standards</a>.</p>
  <p>Like M2 districts, M3 districts are usually located near the waterfront and buffered from residential areas.
    Large M3 districts are mapped along the Arthur Kill in Staten Island, along the East River shore of the South
    Bronx, and along the Gowanus Canal in Brooklyn. Smaller M3 districts, such as portions of Astoria, are located
    along the waterfront in all five boroughs and accommodate public utilities.</p>
  <p>The two M3 districts, both with a maximum <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor area ratio</a> (FAR)
    of 2.0 and a ­maximum <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#base_height"
      class="glossary">base height</a> before <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#setback_building" class="glossary">setback</a> of
    60 feet, differ only in parking requirements. M3-1 districts are subject to the same parking requirements as M1-1,
    M1-2, M1‑3, M2-1 and M2-2 districts; M3-2 districts, found only in Manhattan, are exempt.</p>
  <div>
    <div><br></div>
  </div>
  <div>
    <div><br></div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/mfg/m3_diagram.jpg"
        alt="M3 Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/m3_diagram.pdf">M3
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/mfg/m3_table.jpg"
        alt="M3 Manufacturing Districts Table"></div>
  </div>
</div>
