<div class="text-box">
  <p>R1 districts are leafy, low-density neighborhoods of large, single-family <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#detached_building" class="glossary">detached</a>
    homes on spacious lots. Resembling many suburbs, these districts are mapped in a few areas of the city, such as Todt
    Hill (R1-1) in Staten Island, Jamaica Estates (R1-2) in Queens, and Fieldston (R1-2) in the Bronx. R1-2A is mapped
    in Forest Hills in Queens.</p>
  <p>There are three R1 districts. Although new homes in R1-1 districts must be on larger and wider lots than homes in
    R1-2 and R1-2A districts, generous yard requirements and high <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#open_space_ratio" class="glossary">open space
      ratio</a> (OSR) or <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#lot_coverage"
      class="glossary">lot coverage</a> regulations preserve the open space that characterizes all R1 districts. The <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor area
      ratio</a> (FAR) of 0.5 and the sizeable required <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#lot_area" class="glossary">lot area</a> tend to
    produce big, roomy houses. The maximum height of buildings in R1-1 and R1-2 districts is not fixed but is governed
    by a <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#sky_exposure_plane"
      class="glossary">sky exposure plane</a>;; contextual regulations in R1-2A districts produce buildings that
    maintain neighborhood scale and character with a maximum <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#perimeter" class="glossary">perimeter wall</a> of 25
    feet, a maximum building height of 35 feet and a front yard as deep as a neighboring yard. Auto ownership rates are
    high and, as in other lower-density districts which are often distant from mass transit, one off-street parking
    space is required for each dwelling unit.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r1_diagram.jpg"
        alt="R1  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r1_diagram.pdf">R1
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r1_r2_non_context_table.jpg"
        alt="R1 and R2 Low-Density Non-Contextual Residence Districts Regulations"></div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r1_r2_context_table.jpg"
        alt="R1 and R2 Low-Density Contextual Residence Districts Regulations"></div>
  </div>
</div>