<div class="panel" style="display: block;">
  <p>R10 districts are mapped along portions of Fifth and Park Avenues in Manhattan; however, most buildings that
    conform to the R10 <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#building_envelope" class="glossary">building
      envelope</a> are found in commercial districts with a <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#residental_district_equivalent"
      class="glossary">residential district equivalent</a> of R10, the highest residential density in the city. Much of
    Midtown, Lower Manhattan and major avenues in Manhattan, as well as parts of Downtown Brooklyn and Long Island City,
    are mapped at R10 density. The <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor area ratio</a> (FAR) is
    10.0. Developers may choose between <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#quality" class="glossary">Quality Housing</a>
    regulations or <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#tower"
      class="glossary">tower</a> regulations; <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#height_factor" class="glossary">height factor</a>
    regulations are not applicable.</p>
  <p>Higher maximum FAR and heights are available for buildings participating in the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#inclusionary" class="glossary">Inclusionary Housing
      Program</a> or that provide certain senior facilities.</p>
  <p>Off-street parking is generally required for 40 percent of a building’s dwelling units, but requirements are lower
    for <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#income_restricted_housing_unit"
      class="glossary">income-restricted housing units</a> (IRHU) and are further modified in certain areas, such as
    within the <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#transit_zone"
      class="glossary">Transit Zone</a> and the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#manhattan_core" class="glossary">Manhattan Core</a>,
    or for lots less than 15,000 square feet. Off-street parking requirements can be waived if 15 or fewer parking
    spaces are required or if the zoning lot is 10,000 square feet or less.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r10_diagram.jpg"
        alt="R10  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r10_diagram.pdf">R10
          Regulations</a></div>
    </div>
  </div>
  <h4>Quality Housing Regulations</h4>
  <p>Quality Housing contextual regulations (the same as for R10A Districts) produce large, high lot coverage buildings
    set at or near the street line which maintain the traditional high <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#streetwall" class="glossary">street wall</a>found
    along major streets and avenues. On <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#wide_street" class="glossary">wide streets</a>, the
    base height before <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#setback_building"
      class="glossary">setback</a> is 125 to 155 feet with a maximum building height of 215 feet for buildings providing
    a qualifying ground floor. On <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#narrow" class="glossary">narrow streets</a>, in order
    to ensure more light and air at street level, the base height before setback is 60 to 125 feet. The maximum building
    height is 185 feet. Interior amenities for residents are mandatory pursuant to the Quality Housing Program.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r10_qh_table.jpg"
        alt="R10  Quality Housing Regulations"></div>
  </div>
  <h4>Tower-on-a-Base Regulations</h4>
  <p>Tower regulations allow a building to penetrate the <a target="_blank" href="glossary.shtml#sky_exposure_plane"
      class="glossary exitlink">sky exposure plane</a>, which results in buildings taller than those allowed under
    Quality Housing regulations. Most avenues on the Upper East Side of Manhattan are mapped as R10 districts, (or C1-9
    and C2-8 districts which have a residential district equivalent of R10 and are predominantly residential districts
    that permit ground level retail uses).</p>
  <p>A <a target="_blank" href="glossary.shtml#tower_on_a_base" class="glossary exitlink">tower-on-a-base</a> is the
    only type of tower that can be built on a wide street in an R10, C1-9 or C2-8 district; the building envelope of a
    contextual base topped by a tower portion ensures compatibility with existing buildings along these avenues. The
    height of the base is between 60 and 85 feet. On a wide street, the street wall must extend continuously along the
    <a target="_blank" href="glossary.shtml#street_line" class="glossary exitlink">street line</a>. On a narrow street,
    the open area between the street wall and the street line must be planted. The tower portion must be set back at
    least 10 feet from a wide street and 15 feet from a narrow street, and the <a target="_blank"
      href="glossary.shtml#lot_coverage" class="glossary exitlink">lot coverage</a> must be between 30% and 40%. The
    height of the tower is controlled by a distribution rule, which requires at least 55% of the floor area on the <a
      target="_blank" href="glossary.shtml#lot_or_zoning_lot" class="glossary exitlink">zoning lot</a> to be located
    below a height of 150 feet.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r10_table.jpg"
        alt="R10  Regulations"></div>
  </div>
  <h4>Tower Regulations</h4>
  <p>Tower regulations allow a building to penetrate the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#sky_exposure_plane" class="glossary">sky exposure
      plane</a>, which results in buildings taller than those allowed under <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#quality" class="glossary">Quality Housing</a>
    regulations. Most of Midtown and Lower Manhattan are mapped R10 districts or high density commercial districts with
    an R10 <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#residental_district_equivalent"
      class="glossary">residential district equivalent</a>.</p>
  <p>Standard towers, which do not require a base, are permitted only on narrow streets in R10, C1-9 and C2-8 districts,
    and on both wide and narrow streets in primarily <a target="_blank" href="glossary.shtml#commercial_district"
      class="glossary exitlink">Commercial Districts</a> (C4-6, C4-7, C5, C6-4, C6-5, C6-6, C6-7, C6-8, C6-9). The tower
    footprint may cover no more than 40% of the area of the zoning lot, or up to 50% on lots smaller than 20,000 square
    feet. Like a tower-on-a-base, a standard tower must be set back from the street line at least 10 feet on a wide
    street, and 15 feet on a narrow street. Unlike a tower-on-a-base, there is no minimum lot coverage requirement and
    no rule regarding distribution of floor area. In <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#mixed_building" class="glossary">mixed buildings</a>,
    a floor area bonus of up to 20% can be achieved by providing a <a target="_blank" href="glossary.shtml#public_plaza"
      class="glossary exitlink">public plaza</a>. Together, these regulations produce the tallest residential buildings
    in the city.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r10_table.jpg"
        alt="R10  Regulations"></div>
  </div>
</div>