<div>
  <div class="panel" style="display: block;">
    <p>Residential development in R2 districts is limited exclusively to single-family <a target="_blank"
        href="https://www.nyc.gov/site/planning/zoning/glossary.page#detached_building" class="glossary">detached</a>
      houses. Floral Park in Queens, parts of City Island and Riverdale in the Bronx, and Westerleigh on Staten Island’s
      north shore are typical R2 districts.</p>
    <p>The smaller <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#lot_area"
        class="glossary">lot area</a> and lot width requirements in R2 districts allow a higher <a target="_blank"
        href="https://www.nyc.gov/site/planning/zoning/glossary.page#density" class="glossary">density</a> than in R1
      districts, although the maximum <a target="_blank"
        href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor area ratio</a> (FAR)
      of 0.5 is the same. The minimum lot width is 40 feet, compared to 60 and 100 feet in R1 districts. The maximum
      height of buildings is not fixed but is governed by a <a target="_blank"
        href="https://www.nyc.gov/site/planning/zoning/glossary.page#sky_exposure_plane" class="glossary">sky exposure
        plane</a>. As in other lower-density residence districts, one off-street parking space is required for each
      dwelling unit.</p>
    <div class="row img-row">
      <div class="span12"><img
          src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r2_diagram.jpg"
          alt="R2  Regulations">
        <div class="img-caption"><img class="file_icon"
            src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
            href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r2_diagram.pdf">R2
            Regulations</a></div>
      </div>
    </div>
    <div class="row img-row">
      <div class="span12"><img
          src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r2_non_context_table.jpg"
          alt="R2 Non-Context Regulations"></div>
    </div>
    <div class="row img-row">
      <div class="span12"><img
          src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r2_context_table.jpg"
          alt="R2 Context  Regulations"></div>
    </div>
  </div>
</div>