
  <div class="panel" style="display: block;">
    
    <p>R2A is a contextual district intended to preserve low-rise neighborhoods characterized by single-family detached
      homes on lots with a minimum width of 40 feet. The district is mapped in sections of Bayside, Whitestone and
      Cambria Heights in Queens.</p>
    <p>The <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor
        area ratio</a> (FAR) of 0.5 in R2A districts includes all space within a building, including basement and usable
      attic space, resulting in smaller homes than those found in other districts with similar floor area ratios. Only
      garages are exempt from floor area calculations, up to a maximum of 300 square feet. <a target="_blank"
        href="https://www.nyc.gov/site/planning/zoning/glossary.page#lot_coverage" class="glossary">Lot coverage</a> of
      the house and any separate garage is limited to 30% of the zoning lot. As in R2 districts, the width of the two
      required side yards must total a minimum of 13 feet, each at least five feet wide. The front yard must be at least
      15 feet deep; unlike other R2 districts, however, it must be at least as deep as an adjacent front yard, but need
      not exceed 20 feet. The maximum building height is fixed at 35 feet and the <a target="_blank"
        href="https://www.nyc.gov/site/planning/zoning/glossary.page#perimeter" class="glossary">perimeter wall</a> may
      rise no higher than 21 feet. One off-street parking space is required for each dwelling unit.</p>
  </div>
