  <div class="panel" style="display: block;">
    
    <p>R2X districts allow large single-family <a target="_blank"
        href="https://www.nyc.gov/site/planning/zoning/glossary.page#detached_building" class="glossary">detached</a>
      houses on lots with a minimum width of 30 feet. R2X districts are mapped in Brooklyn in parts of Midwood within
      the Special Ocean Parkway District and part of Far Rockaway in Queens.</p>
    <p>The higher <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor"
        class="glossary">floor area ratio</a> (FAR) and permitted rear yard encroachment in R2X districts produce
      buildings with greater bulk than in any other single-family residence district. The 0.85 FAR is considerably
      higher than in other R2 districts and may be increased up to 1.02 by an <a target="_blank"
        href="https://www.nyc.gov/site/planning/zoning/glossary.page#attic_allowance" class="glossary">attic
        allowance</a> for the inclusion of space beneath a pitched roof. The <a target="_blank"
        href="https://www.nyc.gov/site/planning/zoning/glossary.page#perimeter" class="glossary">perimeter wall</a> may
      rise to 21 feet before sloping or being set back to a maximum building height of 35 feet. Although other residence
      districts require a 30-foot rear yard, houses in R2X districts may extend 10 feet into the rear yard. The amount
      of required <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#open_space"
        class="glossary">open space</a> on a lot is governed by yard requirements. As in other lower density districts,
      the R2X district requires one off-street parking space for each dwelling unit.</p>
  </div>