<div class="panel" style="display: block;">
  <p>R3-1 contextual districts are the lowest density districts that allow <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#semi_detached" class="glossary">semi-detached</a>
    one- and two-family residences, as well as <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#detached_building" class="glossary">detached</a>
    homes. R3-1 districts generally follow existing patterns of development in the Bronx, Queens, Staten Island and
    south Brooklyn.</p>
  <p>In R3-1 districts, the minimum lot width for detached houses is 40 feet; semi-detached buildings must be on
    zoning lots that are at least 18 feet wide. For both detached and semi-detached houses, the maximum <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#lot_coverage" class="glossary">lot
      coverage</a> is 35% and the 0.5 <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor area ratio</a> (FAR)
    may be increased by an <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#attic_allowance" class="glossary">attic
      allowance</a> of up to 20% for the inclusion of space beneath a pitched roof. The <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#perimeter" class="glossary">perimeter wall</a> may
    rise to 21 feet before sloping or being set back to a maximum building height of 35 feet. The front yard must be
    at least 15 feet deep. Two side yards with a minimum combined width of 13 feet are required for a detached
    residence; one eight foot side yard is required for each semi-detached residence. All parking must be located in
    the side or rear yard or in the garage. An in-house garage is permitted in a semi-detached house, or in a detached
    house if the lot is 40 feet or wider. One off-street parking space is required for each dwelling unit.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r31_diagram.jpg"
        alt="R3-1  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r31_diagram.pdf">R3-1
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r31_table.jpg"
        alt="R31  Regulations"></div>
  </div>
</div>