<div class="panel" style="display: block;">
  <p>R3-2 districts are general residence districts that allow a variety of housing types, including low-rise <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#attached_building"
      class="glossary">attached</a> houses, small multi­family apartment houses, and <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#detached_building" class="glossary">detached</a> and
    <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#semi_detached"
      class="glossary">semi-detached</a> one- and two-family residences. It is the lowest density zoning district in
    which multiple dwellings are permitted. Because of their flexibility, R3-2 districts are mapped widely in all
    boroughs except Manhattan.</p>
  <p>The 0.5 <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor"
      class="glossary">floor area ratio</a> (FAR) may be increased by an <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#attic_allowance" class="glossary">attic allowance</a>
    of up to 20% for the inclusion of space beneath a pitched roof. The <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#perimeter" class="glossary">perimeter wall</a> may
    rise to 21 feet before sloping or being set back to a maximum building height of 35 feet. Lots with detached homes
    must be at least 40 feet wide; if occupied by semi-detached and attached buildings, lots must be at least 18 feet
    wide. The maximum <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#streetwall"
      class="glossary">street wall</a> length for a building on a zoning lot is 125 feet. The maximum <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#lot_coverage" class="glossary">lot coverage</a> of
    any residence is 35%. Front yards must be at least 15 feet deep. Cars may park in the side or rear yard, in the
    garage or in the front yard within the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#side_lot_ribbon" class="glossary">side lot
      ribbon</a>; parking is also allowed within the front yard when the lot is wider than 35 feet. One off-street
    parking space is required for each dwelling unit. However, requirements are lower for <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#income_restricted_housing_unit"
      class="glossary">income-restricted housing units</a> (IRHU) and are further modified within the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#transit_zone" class="glossary">Transit Zone</a>.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r32_diagram.jpg"
        alt="R3-2  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r32_diagram.pdf">R3-2
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r32_table.jpg"
        alt="R3-2  Regulations"></div>
  </div>
</div>