<div class="panel" style="display: block;">
  <p>Characteristic of many of the city’s older neighborhoods, R3A contextual districts feature modest single- and
    two-family <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#detached_building"
      class="glossary">detached</a> residences on zoning lots as narrow as 25 feet in width. Parts of College Point and
    Whitestone in Queens, City Island in the Bronx and Port Richmond in Staten Island are typical R3A neighborhoods.</p>
  <p>The amount of required <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#open_space"
      class="glossary">open space</a> on residential lots in R3A districts is governed by yard requirements. New
    detached homes must have two side yards totaling at least eight feet, but there is no minimum width requirement for
    either one. R3A districts also permit <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#zero_lot_line_building" class="glossary">zero lot
      line buildings</a> which are set along a side lot line and have one side yard at least eight feet wide. The front
    yard of a new home must be at least 10 feet deep and, to promote a unified streetscape, it must be as deep as an
    adjacent front yard but need not exceed a depth of 20 feet. The maximum <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor area ratio</a> (FAR) of
    0.5 may be increased up to 20% by an <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#attic_allowance" class="glossary">attic allowance</a>
    for the inclusion of space beneath a pitched roof. The <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#perimeter" class="glossary">perimeter wall</a> may
    rise to 21 feet before sloping or being set back to a maximum building height of 35 feet. Parking is in the side or
    rear yard but an in-house garage is allowed if the lot is 35 feet or wider, provided the driveway is at least 18
    feet deep. One off-street parking space is required for each dwelling unit.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r3a_diagram.jpg"
        alt="R3A  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r3a_diagram.pdf">R3A
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r3a_table.jpg"
        alt="R3A  Regulations"></div>
  </div>
</div>