<div class="panel" style="display: block;">
  <p>R3X contextual districts, mapped extensively in lower-density neighborhoods, such as Forest Hills in Queens and
    Prince’s Bay and Westerleigh in Staten Island, permit only one- and two-family <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#detached_building" class="glossary">detached</a>
    homes on lots that must be at least 35 feet wide.</p>
  <p>The 0.5 <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor"
      class="glossary">floor area ratio</a> (FAR) in R3X districts may be increased by an <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#attic_allowance" class="glossary">attic allowance</a>
    of up to 20% for the inclusion of space beneath a pitched roof. The <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#perimeter" class="glossary">perimeter wall</a> may
    rise to 21 feet before sloping or being set back to a maximum building height of 35 feet. The amount of required <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#open_space" class="glossary">open
      space</a> on a lot is governed by <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#yard" class="glossary">yard</a> requirements. Two
    side yards that total at least 10 feet are required and there must be a minimum distance of eight feet between
    houses on adjacent lots. The front yard of a new home must be at least 10 feet deep and, to promote a unified
    streetscape, it must be at least as deep as an adjacent front yard but need not exceed a depth of 20 feet. An
    in-house garage is permitted within the building provided the driveway is at least 18 feet deep. One off-street
    parking space is required for each dwelling unit.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r3x_diagram.jpg"
        alt="R3X  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r3x_diagram.pdf">R3X
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r3x_table.jpg"
        alt="R3x  Regulations"></div>
  </div>
</div>