<div class="panel" style="display: block;">
  <p>R4-1 contextual districts, like R3-1 districts, permit only one- and two‑family <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#detached_building" class="glossary">de­tached</a> and
    <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#semi_detached"
      class="glossary">semi‑detached</a> houses. Despite a narrower minimum lot width of 25 feet for detached homes,
    houses in R4-1 districts tend to be larger than those in R3-1 districts because of the higher <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor area ratio</a> (FAR) of
    0.75 plus an <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#attic_allowance"
      class="glossary">attic allowance</a>. The <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#perimeter" class="glossary">perimeter wall</a> may
    rise to 25 feet, compared to 21 feet in R3-1 districts, before sloping or being set back to a maximum building
    height of 35 feet. Sections of Middle Village in Queens and Bay Ridge in Brooklyn are R4‑1 districts.</p>
  <p>Two side yards that total eight feet must be provided for a detached residence. There is no minimum width for each
    side yard but there must be eight feet between buildings on adjacent zoning lots. One four foot side yard is
    required for each semi-detached residence, which must be on a lot at least 18 feet wide. <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#zero_lot_line_building" class="glossary">Zero lot
      line buildings</a> permitted in R4-1 districts, require only one eight foot side yard. Front yards must be at
    least 10 feet deep and at least as deep as an adjacent front yard but need not exceed a depth of 20 feet. Parking
    must be within the side or rear yard or in a garage. An in-house garage is permitted within a semi-detached house,
    or in a detached house if the lot is 35 feet or wider. One off-street parking space is required for each dwelling
    unit.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r41_diagram.jpg"
        alt="R4-1  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r41_diagram.pdf">R4-1
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r41_table.jpg"
        alt="R4-1  Regulations"></div>
  </div>
</div>