<div class="panel" style="display: block;">
  <p>R4 districts allow all types of ­housing at a slightly higher <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#density" class="glossary">density</a> than permit­ted
    in R3-2 districts. The <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor"
      class="glossary">floor area ratio</a> (FAR) of 0.75, plus an <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#attic_allowance" class="glossary">attic allowance</a>
    of up to 20% for inclusion of space under the pitched roof common to these districts, ­usually produces buildings
    with three stories instead of the two-story homes characteristic of R3 districts. Much of the residential
    development in North Corona in Queens and Arden Heights in Staten Island is typical of R4 districts.</p>
  <p>To accommodate a potential third floor beneath a pitched roof, the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#perimeter" class="glossary">perimeter wall</a> in R4
    districts may rise to 25 feet before being set back to the maximum building height of 35 feet. Front yards must be
    10 feet deep or, if deeper, a minimum of 18 feet to provide sufficient space for on-site parking. Cars may park in
    the side or rear yard, in the garage or in the front yard within the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#side_lot_ribbon" class="glossary">side lot
      ribbon</a>; the driveway must be within the side lot ribbon unless the lot is wider than 35 feet. Detached houses
    must have two side yards that total at least 13 feet and each one must be at least five feet wide. Semi-detached
    buildings need one side yard with a minimum width of eight feet. The maximum <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#streetwall" class="glossary">street wall</a> length
    for a building on a single zoning lot is 185 feet. One off-street parking space is required for each dwelling unit.
    However, requirements are lower for <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#income_restricted_housing_unit"
      class="glossary">income-restricted housing units</a> (IRHU) and are further modified within the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#transit_zone" class="glossary">Transit Zone</a>.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r4_diagram.jpg"
        alt="R4  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r4_diagram.pdf">R4
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r4_table.jpg"
        alt="R4  Regulations"></div>
  </div>
</div>