<div class="panel" style="display: block;">
  <p>R4A contextual districts are similar to R3A and R3X districts in that only one- and two-family <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#detached_building" class="glossary">detached</a>
    residences are permitted. Differences in the maximum permitted <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor area ratio</a> (FAR)
    and minimum required lot size, however, result in variations in the typical <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#building_envelope" class="glossary">building
      envelope</a> found in each district. Characterized by houses with two stories and an attic beneath a pitched roof,
    R4A districts have an FAR of up to 0.75 (plus an <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#attic_allowance" class="glossary">attic
      allowance</a>) and a minimum lot width of 30 feet. The districts are usually mapped in older neighborhoods, such
    as Woodlawn and Throgs Neck in the Bronx.</p>
  <p>As in R3A and R3X districts, the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#perimeter" class="glossary">perimeter wall</a> of a
    house may rise to 21 feet before sloping or being set back to the maximum building height of 35 feet. A <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#yard" class="glossary">front yard</a>
    must be at least as deep as an adjacent front yard and at least 10 feet deep, but it need not exceed a depth of 20
    feet. A 30 foot deep rear yard, and two side yards that total at least 10 feet with a minimum width of two feet each
    are also required. There must be at least eight feet between buildings on adjacent lots. Parking must be located in
    the side or rear yard and the driveway must be within the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#side_lot_ribbon" class="glossary">side lot
      ribbon</a>.. If the lot is 35 feet or wider, a garage is permitted within the house, provided the driveway is at
    least 18 feet deep to prevent cars from jutting onto the sidewalk. One off-street parking space is required for each
    dwelling unit.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r4a_diagram.jpg"
        alt="R4A  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r4a_diagram.pdf">R4A
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r4a_table.jpg"
        alt="R4A  Regulations"></div>
  </div>
</div>