<div class="panel" style="display: block;">
  <p>Primarily a contextual rowhouse district limited to low-rise, one- and two-family <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#attached_building"
      class="glossary">attached</a>residences, R4B districts also permit <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#detached_building" class="glossary">detached</a> and
    <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#semi_detached"
      class="glossary">semi-detached</a> buildings. However, the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor area ratio</a> (FAR) of
    0.9 and maximum building height of 24 feet typically produce a two-story, flat-roofed rowhouse. Parts of Bay Ridge
    in Brooklyn and Middle Village and Brookville in Queens are mapped R4B.</p>
  <p>To maintain the characteristic rowhouse streetscape of R4B districts, the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#yard" class="glossary">front yard</a> of a new house
    must be at least five feet deep and at least as deep as one adjacent front yard but no deeper than the other,
    although it need not exceed a depth of 20 feet. Detached houses must have two side yards totaling at least eight
    feet; there is no minimum width for a side yard but there must be at least eight feet between buildings on adjacent
    zoning lots. <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#zero_lot_line_building"
      class="glossary">Zero lot line buildings</a>require only one eight foot side yard and semi-detached buildings
    require one side yard at least four feet wide. One off-street parking space is required for each dwelling unit,
    although parking is waived when only one space is required. Front yard parking is not allowed. <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#curb_cut" class="glossary">Curb cuts</a> are
    prohibited on zoning lot frontages that are less than 40 feet.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r4b_diagram.jpg"
        alt="R4b  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r4b_diagram.pdf">R4B
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r4b_table.jpg"
        alt="R4B  Regulations"></div>
  </div>
</div>