<div class="panel" style="display: block;">
  <p>R5 districts allow a variety of housing at a higher <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#density" class="glossary">density</a> than permitted
    in R3-2 and R4 districts. The <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor"
      class="glossary">floor area ratio</a> (FAR) of 1.25 typically produces three-and four-story <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#attached_building" class="glossary">attached</a>
    houses and small apartment houses. With a height limit of 40 feet, R5 districts provide a transition between lower-
    and higher-density neighborhoods and are widely mapped in Brooklyn, Queens and the Bronx. Portions of Windsor
    Terrace and Ocean Parkway in Brooklyn are R5 districts.</p>
  <p>To ensure compatibility with neighborhood scale, the maximum <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#streetwall" class="glossary">street wall</a>height of
    a new building is 30 feet and the maximum building height is 40 feet. Above a height of 30 feet, a setback of 15
    feet is required from the street wall of the building; in addition, any portion of the building that exceeds a
    height of 33 feet must be set back from a rear or side yard line. <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#detached_building" class="glossary">Detached</a>
    houses must have two side yards that total at least 13 feet, each with a minimum width of five feet. <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#semi_detached"
      class="glossary">Semi-detached</a> houses need one eight foot wide side yard. Apartment houses need two side
    yards, each at least eight feet wide. Front yards must be 10 feet deep or, if deeper, a minimum of 18 feet to
    prevent cars parked on-site from protruding onto the sidewalk. Cars may park in the side or rear yard, in the garage
    or in the front yard within the side lot ribbon; parking is also allowed within the front yard when the lot is wider
    than 35 feet. Off-street parking is required for 85% of the dwelling units in the building, but requirements are
    lower for <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#income_restricted_housing_unit"
      class="glossary">income-restricted housing units</a> (IRHU) and are further modified within the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#transit_zone" class="glossary">Transit Zone</a></p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r5_diagram.jpg"
        alt="R5  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r5_diagram.pdf">R5
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r5_table.jpg"
        alt="R5  Regulations"></div>
  </div>
</div>