<div class="panel" style="display: block;">
  <p>R5A contextual districts, mapped in the northeast Bronx neighborhoods of Olinville and Williamsbridge, permit only
    one- and two-family <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#detached_building" class="glossary">detached</a>
    residences with a maximum 1.1<a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor"
      class="glossary">floor area ratio</a> (FAR). Similar to R4A districts, R5A districts are characterized by houses
    with two stories and an attic beneath a pitched roof, but the greater FAR and higher <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#perimeter" class="glossary">perimeter wall</a> allow
    for somewhat larger buildings.</p>
  <p>The perimeter wall of a house may rise to 25 feet in R5A districts (compared to 21 feet in R4A districts) before
    sloping or being set back to the maximum building height of 35 feet. The minimum lot width is 30 feet. The amount of
    required open space is governed by <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#yard" class="glossary">yard</a> requirements that are
    the same as those in R4A districts: a front yard must be at least as deep as an adjacent front yard and at least 10
    feet deep but it need not exceed a depth of 20 feet; a 30 foot deep rear yard; and two side yards that total at
    least 10 feet, each with a minimum width of two feet. Cars may park in the side or rear yard; parking is also
    allowed within the front yard when the lot is wider than 35 feet. An in-house garage is permitted if the lot is at
    least 35 feet wide. One off-street parking space is required for each dwelling unit.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r5a_diagram.jpg"
        alt="R5A  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r5a_diagram.pdf">R5A
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r5a_table.jpg"
        alt="R5A  Regulations"></div>
  </div>
</div>