<div class="panel" style="display: block;">
  <p>R5D contextual districts, designed to encourage residential growth along major corridors in auto-dependent areas of
    the city, are mapped in portions of the Jamaica and Rockaway Park neighborhoods in Queens and on Williamsbridge Road
    in the northeast area of the Bronx.</p>
  <p>R5D districts serve as a transition between lower-density districts and moderate-density districts by incorporating
    the <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#lot_area" class="glossary">lot
      area</a>, lot width and building envelope of R5B districts with certain aspects of the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#quality" class="glossary">Quality Housing Program</a>
    available in R6 through R9 districts and R10 contextual districts) relating to interior building amenities, planting
    and the location of accessory parking. <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#lot_coverage" class="glossary">Lot coverage</a>
    requirements are the same as for R6 contextual districts.</p>
  <p>Characterized by moderate-density, multi-family housing, R5D districts have a maximum <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor area ratio</a> (FAR) of
    2.0, a height limitation of 40 feet (45 feet with a <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#qualifying_ground_floor" class="glossary">qualifying
      ground floor</a>) and a significant amount of required off-street parking, reflecting the lack of easy access to
    mass transit and the reliance on automobiles.</p>
  <p>The minimum lot width for single- and two-family <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#detached_building" class="glossary">detached</a>
    houses is 25 feet; side yards are not required for lots less than 30 feet wide. <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#zero_lot_line_building" class="glossary">Zero lot
      line buildings</a> are permitted. As in R4B and R5B districts, the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#yard" class="glossary">front yard</a> must be at
    least five feet deep and at least as deep as one adjacent front yard but no deeper than the other, although it need
    not exceed a depth of 20 feet.</p>
  <p>Off-street parking, which is not permitted in front of the building, is required for 66% of all dwelling units.
    Requirements are lower for <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#income_restricted_housing_unit"
      class="glossary">income-restricted housing units</a> (IRHU) and are further modified within the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#transit_zone" class="glossary">Transit Zone</a>. Curb
    cuts are not permitted on a wide street if the zoning lot also fronts on a narrow street.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r5d_diagram.jpg"
        alt="R5D  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r5d_diagram.pdf">R5D
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r5d_table.jpg"
        alt="R5d  Regulations"></div>
  </div>
</div>