<div class="panel" style="display: block;">
  <p>R6 zoning districts are widely mapped in built-up, medium-density areas in Brooklyn, Queens and the Bronx. The
    character of R6 districts can range from neighborhoods with a diverse mix of building types and heights to
    large-scale “tower in the park” developments such as Ravenswood in Queens and Homecrest in Brooklyn. Developers can
    choose between two sets of bulk regulations. Standard <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#height_factor" class="glossary">height factor</a>
    regulations, introduced in 1961, produce small multi-family buildings on small zoning lots and, on larger lots, tall
    buildings that are set back from the street. Optional <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#quality" class="glossary">Quality Housing</a>
    regulations produce high <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#lot_coverage" class="glossary">lot coverage</a>
    buildings within height limits that often reflect the scale of older, pre-1961 apartment buildings in the
    neighborhood.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r6_diagram.jpg"
        alt="R6  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r6_diagram.pdf">R6
          Regulations</a></div>
    </div>
  </div>
  <h4>Height Factor Regulations</h4>
  <p>Buildings developed pursuant to height factor regulations are often tall buildings set back from the street and
    surrounded by open space and on-site parking. The <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor area ratio</a> (FAR) in
    R6 districts ranges from 0.78 (for a single-story building) to 2.43 at a typical height of 13 stories; the <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#open_space_ratio"
      class="glossary">open space ratio</a> (OSR) ranges from 27.5 to 37.5. Generally, the more open space, the taller
    the building. In the diagram, for example, 81% of the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#zoning_lot" class="glossary">zoning lot</a> with the
    13-story building is required to be open space (2.43 FAR × 33.5 OSR). Thus, the maximum floor area ratio is
    achievable only where the zoning lot is large enough to accommodate a practical building footprint as well as the
    required amount of open space. There are no height limits for height factor buildings although they must be set
    within a <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#sky_exposure_plane"
      class="glossary">sky exposure plane</a> which begins at a height of 60 feet above the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#street_line" class="glossary">street line</a> and
    then slopes inward over the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#szoning_lot" class="glossary">zoning lot</a>.</p>
  <p>Off-street parking is generally required for 70 percent of a building’s dwelling units, but requirements are lower
    for<a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#income_restricted_housing_unit"
      class="glossary"> income-restricted housing units</a> (IRHU) and are further modified in certain areas, such as
    within the <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#transit_zone"
      class="glossary">Transit Zone</a> and the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#manhattan_core" class="glossary">Manhattan Core</a>,
    or for lots less than 10,000 square feet. Parking can be waived if five or fewer spaces are required.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r6_hf_table.jpg"
        alt="R6 Height Factor Regulations"></div>
  </div>
  <h4>Quality Housing Regulations</h4>
  <p>The optional Quality Housing regulations produce high lot coverage buildings set at or near the street line. Height
    limitations ensure that these buildings are often more compatible with older buildings in the neighborhood. As an
    incentive for developers to choose the Quality Housing option outside the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#manhattan_core" class="glossary">Manhattan Core</a>,
    greater floor area ratio, and therefore, more apartments, is permitted&nbsp; for buildings on or within 100 feet of
    a <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#street" class="glossary">wide
      street</a> than would be permitted under height factor regulations. The FAR is 3.0; the maximum <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#base_height" class="glossary">base height</a> before
    <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#setback_building"
      class="glossary">setback</a> is 65 feet with a maximum building height of 75 with a qualifying ground floor (70
    feet without). On a narrow street (beyond 100 feet of a wide street), the maximum FAR is 2.2; the maximum base
    height before setback is 45 feet with a maximum building height of 55 feet. The area between a building’s <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#streetwall" class="glossary">street
      wall</a> and the <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#street_line"
      class="glossary">street line</a> must be planted and the buildings must have interior amenities for the residents
    pursuant to the Quality Housing Program.</p>
  <p>Higher maximum FAR and heights are available for buildings participating in the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#inclusionary" class="glossary">Inclusionary Housing
      Program</a> or that provide certain senior facilities.</p>
  <p>Off-street parking is generally required for 50 percent of a building’s dwelling units, but requirements are lower
    for income-restricted housing units (IRHU) and are further modified in certain areas, such as within the<a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#transit_zone"
      class="glossary">Transit Zone</a> and the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#manhattan_core" class="glossary">Manhattan Core</a>,
    or for lots less than 10,000 square feet. Parking can be waived if five or fewer spaces are required.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r6_qh_table.jpg"
        alt="R6 Quality Housing Regulations"></div>
  </div>
</div>