<div class="panel" style="display: block;">
  <p>R6A is a a contextual district where the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#quality" class="glossary">Quality Housing</a> bulk
    regulations are mandatory. These regulations produce high <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#lot_coverage" class="glossary">lot coverage</a>, six-
    to eight-story apartment buildings set at or near the street line. Designed to be compatible with older buildings
    found in medium-density neighborhoods, R6A districts are mapped in the Bronx, Brooklyn and Queens. Parts of
    Kingsbridge in the Bronx and Williamsburg in Brooklyn are typical R6A areas.</p>
  <p>The <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor
      area ratio</a> (FAR) in R6A districts is 3.0. Above a minimum <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#base_height" class="glossary">base height</a> of 40
    feet, the building must set back by at least 10 feet on a <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#wide_street" class="glossary">wide street</a> and 15
    feet on a <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#narrow"
      class="glossary">narrow street</a> before rising to its maximum height of 70 feet, or 75 feet if providing a <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#qualifying_ground_floor"
      class="glossary">qualifying ground floor</a>. To preserve the traditional streetscape, the street wall of a new
    building can be no closer to the street line than any adjacent <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#streetwall" class="glossary">street wall</a> , but
    need not be farther than 10 feet. The area between a building’s street wall and the street line must be planted. R6A
    buildings must have interior amenities for the residents pursuant to the Quality Housing Program.</p>
  <p>Higher maximum FAR and heights are available for buildings participating in the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#inclusionary" class="glossary">Inclusionary Housing
      Program</a> or that provide certain senior facilities.</p>
  <p>Off-street parking is generally required for 50 percent of a building’s dwelling units, but requirements are lower
    for <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#income_restricted_housing_unit"
      class="glossary">income-restricted housing units</a> (IRHU) and are further modified in certain areas, such as
    within the <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#transit_zone"
      class="glossary">Transit Zone</a> and the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#manhattan_core" class="glossary">Manhattan Core</a>,
    or for lots less than 10,000 square feet. Parking can be waived if five or fewer spaces are required. Off-street
    parking is not allowed in front of a building.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r6a_diagram.jpg"
        alt="R6A  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r6a_diagram.pdf">R6A
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r6a_table.jpg"
        alt="R6A  Regulations"></div>
  </div>
</div>