<div class="panel" style="display: block;">
  <p>R7 districts are medium-density apartment house districts mapped in much of the Bronx as well as the Upper West
    Side in Manhattan and Brighton Beach in Brooklyn. The height factor regulations for R7 districts encourage lower
    apartment buildings on smaller zoning lots and, on larger lots, taller buildings with less <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#lot_coverage" class="glossary">lot coverage</a>. As
    an alternative, developers may choose the optional <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#quality" class="glossary">Quality Housing</a>
    regulations to build lower buildings with greater lot coverage.</p>
  <p>Regulations for residential development in R7-1 and R7-2 districts are essentially the same except that R7-2
    districts, which are mapped primarily in upper Manhattan, have lower parking requirements.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r7_diagram.jpg"
        alt="R7  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r7_diagram.pdf">R7
          Regulations</a></div>
    </div>
  </div>
  <h4 class="clearline">Height Factor Regulations</h4>
  <p>Height factor buildings are often set back from the street and surrounded by <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#open_space" class="glossary">open space</a> and
    on-site parking. The <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor"
      class="glossary">floor area ratio</a> (FAR) in R7 districts ranges from 0.87 to a high of 3.44; the <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#open_space_ratio"
      class="glossary">open space ratio (OSR)</a> (OSR) ranges from 15.5 to 25.5. As in other non-contextual districts,
    a taller building may be obtained by providing more open space. For example, 76% of the zoning lot with a 14-story
    building must be open space (3.44 FAR × 22.0 OSR). The maximum FAR is achievable only where the zoning lot is large
    enough to accommodate a practical building footprint as well as the required amount of open space. The building must
    be set within a <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#sky_exposure_plane"
      class="glossary">sky exposure plane</a> which, in R7 districts, begins at a height of 60 feet above the <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#street_line" class="glossary">street
      line</a> and then slopes inward over the zoning lot.</p>
  <p>Off-street parking is generally required for 60 percent of a building’s dwelling units in an R7-1 district and 50
    percent in an R7-2 district, but requirements are lower for <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#income_restricted_housing_unit"
      class="glossary">income-restricted housing units</a> (IRHU) and are further modified in certain areas, such as
    within the <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#transit_zone"
      class="glossary">Transit Zone</a> and the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#manhattan_core" class="glossary">Manhattan Core</a>,
    or for lots less than 15,000 square feet in R7-1 districts. Off-street parking requirements can be waived if 5 or
    fewer parking spaces are required in R7-1 districts, or if 15 or fewer parking spaces are required or if the zoning
    lot is 10,000 square feet or less in R7-2 districts.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r7_hf_table.jpg"
        alt="R9 Regulations"></div>
  </div>
  <h4 class="clearline">Quality Housing Regulations</h4>
  <p>The optional Quality Housing regulations in R7 districts utilize height limits to produce lower, high lot coverage
    buildings set at or near the street line. With floor area ratios that are equal to or greater than can be achieved
    in height factor buildings, the optional Quality Housing regulations produce new buildings in keeping with the scale
    of many traditional neighborhoods in the East Village and upper Manhattan, the west Bronx, and sections of Queens
    and Brooklyn.</p>
  <p>The optional Quality Housing regulations for buildings on <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#wide_street" class="glossary">wide streets</a>
    outside the <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#manhattan_core"
      class="glossary">Manhattan Core</a> are the same as in R7A districts. The maximum FAR is 4.0 and the <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#base_height" class="glossary">base
      height</a> before <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#setback_building" class="glossary">setback</a> is 40
    to 75 feet with a maximum building height of 80 feet, or 85 feet if providing a <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#qualifying_ground_floor" class="glossary">qualifying
      ground floor</a>. The maximum FAR on <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#narrow" class="glossary">narrow streets</a> and
    within the Manhattan Core is 3.44, and the base height before setback is 40 to 65 feet with a maximum building
    height of 75 feet. The area between a building’s street wall and the street line must be planted, and the building
    must have interior amenities for residents pursuant to the Quality Housing Program.</p>
  <p>Off-street parking is generally required for 50 percent of a building’s dwelling units, but requirements are lower
    for <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#income_restricted_housing_unit"
      class="glossary">income-restricted housing units</a> (IRHU) and are further modified in certain areas, such as
    within the <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#transit_zone"
      class="glossary">Transit Zone</a> and the Manhattan Core, or for lots less than 15,000 square feet in R7-1
    districts. Off-street parking requirements can be waived if 5 or fewer parking spaces are required in R7-1
    districts, or if 15 or fewer parking spaces are required or if the zoning lot is 10,000 square feet or less in R7-2
    districts.</p>
  <p>Higher maximum FAR and heights are available for buildings participating in the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#inclusionary" class="glossary">Inclusionary Housing
      Program</a> or that provide certain senior facilities.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r7_qh_table.jpg"
        alt="R7 Quality Housing Regulations"></div>
  </div>
</div>