<div class="panel" style="display: block;">
  <p>In contextual R7B districts, the mandatory <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#quality" class="glossary">Quality Housing</a>
    regulations are similar to those of R6B districts but the higher<a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary"> floor area ratio</a>(FAR)
    and height limit generally produce six- to seven-story apartment buildings rather than the rowhouses typical of R6B
    districts. There are R7B districts in Brooklyn and throughout Queens, including portions of Rego Park. Parts of the
    East Village in Manhattan are also mapped R7B.</p>
  <p>The FAR is 3.0; the <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#base_height"
      class="glossary">base height</a> of a new building before <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#setback_building" class="glossary">setback</a> must
    be between 40 and 65 feet before rising to a maximum building height of 75 feet. To maintain the traditional
    streetscape, <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#curb_cut"
      class="glossary">curb cuts</a> are prohibited on zoning lot frontages less than 40 feet. The front wall of a new
    building, on any lot up to 50 feet wide, must be as deep as one adjacent front wall but no deeper than the other. On
    lots 50 feet wide or more, the front wall must be no closer to the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#lot_line_zoning" class="glossary">street line</a>
    than the front wall of an adjacent building. Front walls need not be set back beyond 10 feet. Buildings must have
    interior amenities for residents pursuant to the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#quality" class="glossary">Quality Housing
      Program</a>.</p>
  <p>Off-street parking is generally required for 50 percent of a building’s dwelling units, but requirements are lower
    for <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#income_restricted_housing_unit"
      class="glossary">income-restricted housing units</a> (IRHU) and are further modified in certain areas, such as
    within the <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#transit_zone"
      class="glossary">Transit Zone</a> and the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#manhattan_core" class="glossary">Manhattan Core</a>,
    or for lots 10,000 square feet or less. Off-street parking requirements can be waived if 5 or fewer parking spaces
    are required.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r7b_diagram.jpg"
        alt="R7B  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r7b_diagram.pdf">R7B
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r7b_table.jpg"
        alt="R7B  Regulations"></div>
  </div>
</div>