<div class="panel" style="display: block;">
  <p>R7D districts promote new contextual development along transit corridors. Portions of Fulton Street and the Special
    Coney Island District in Brooklyn are mapped as R7D districts. Blocks that are mapped C4-5D have an R7D <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#residental_district_equivalent"
      class="glossary">residential district equivalent</a>.</p>
  <p>The <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor
      area ratio</a> (FAR) of 4.2 ­allows greater residential density than R7A districts and less than R7X districts. In
    a C4‑5D district or when a <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#commercial_overlay" class="glossary">commercial
      overlay</a> is mapped in an R7D district, the ground floor of a building must be reserved for retail uses, such as
    shops and services, to maintain the vitality of the street.</p>
  <p><a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#quality" class="glossary">Quality
      Housing</a> bulk regulations, mandatory in R7D districts, produce ten-story buildings set at or near the <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#street_line" class="glossary">street
      line</a>. The <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#base_height"
      class="glossary">base height</a> of a new building must be 60 to 85 feet before <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#setback_building" class="glossary">setback</a>,
    rising to a maximum building height of 100 feet, or 105 feet if providing a <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#qualifying_ground_floor" class="glossary">qualifying
      ground floor</a>. In order to maintain the continuity of the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#streetwall" class="glossary">street wall</a>, a new
    building can be no closer to the street line than any adjacent street wall but need not be farther than 10 feet.
    Interior amenities for building residents pursuant to the Quality Housing Program are required.</p>
  <p>Higher maximum FAR and heights are available for buildings participating in the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#inclusionary" class="glossary">Inclusionary Housing
      Program</a> or that provide certain senior facilities.</p>
  <p>Off-street parking is generally required for 50 percent of a building’s dwelling units, but requirements are lower
    for <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#income_restricted_housing_unit"
      class="glossary">income-restricted housing units</a> (IRHU) and are further modified in certain areas, such as
    within the <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#transit_zone"
      class="glossary">Transit Zone</a> and the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#manhattan_core" class="glossary">Manhattan Core</a>,
    or for lots 10,000 square feet or less. Off-street parking requirements can be waived if 15 or fewer parking spaces
    are required.</p>
  <p><br></p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r7d_diagram.jpg"
        alt="R7D  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r7d_diagram.pdf">R7D
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r7d_table.jpg"
        alt="R7D  Regulations"></div>
  </div>
</div>