<div class="panel" style="display: block;">
  <p>R8B contextual districts usually present the same unified blocks of “brownstone” rowhouses as R5B and R6B districts
    but the higher <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor"
      class="glossary">floor area ratio</a> (FAR) of 4.0 creates a taller building that is commonly found on the narrow
    side streets of the Upper West Side and the Upper East Side in Manhattan. The mandatory<a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#quality" class="glossary">Quality Housing</a> bulk
    regulations encourage new six-story apartment buildings, with a <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#setback#building" class="glossary">setback</a> at the
    top story, that fit in well with the rows of 19th century houses.</p>
  <p>The <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#base_height"
      class="glossary">base height</a> of a new building before a setbackis 55 to 65 feet. The maximum building height
    is 75 feet. Many buildings are set back from the street with stoops in shallow <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#yard" class="glossary">front yards</a>. To maintain
    the traditional streetscape, <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#curb_cut" class="glossary">curb cuts</a> are
    prohibited for zoning lot frontages less than 40 feet. The <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#streetwall" class="glossary">street wall</a> of a new
    building, on any lot up to 50 feet wide, must be as deep as one adjacent street wall but no deeper than the other.
    On lots with at least 50 feet of frontage, the street wall must be no closer to the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#lot_line_zoning" class="glossary">street line</a>
    than the street wall of an adjacent building. Street walls need not be set back beyond 10 feet. Buildings must have
    interior amenities for residents pursuant to the Quality Housing Program.</p>
  <p>Off-street parking is generally required for 50 percent of a building’s dwelling units, but requirements are lower
    for <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#income_restricted_housing_unit"
      class="glossary">income-restricted housing units</a> (IRHU) and are further modified in certain areas, such as
    within the <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#transit_zone"
      class="glossary">Transit Zone</a> and the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#manhattan_core" class="glossary">Manhattan Core</a>,
    or for lots less than 15,000 square feet. Off-street parking requirements can be waived if 15 or fewer parking
    spaces are required or if the zoning lot is 10,000 square feet or less. Off-street parking is not allowed in front
    of a building and any open area between the street wall and the street line must be planted.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r8b_diagram.jpg"
        alt="R8B  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r8b_diagram.pdf">R8B
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r8b_table.jpg"
        alt="R8b  Regulations"></div>
  </div>
</div>