<div class="panel" style="display: block;">
  <p>R9X contextual districts (and C1-8X, C2-7X and C6-3X districts with an R9X<a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#residental_district_equivalent"
      class="glossary">residential district equivalent</a>), mapped only in Manhattan, are governed by <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#quality" class="glossary">Quality
      Housing</a> regulations. With a <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#floor" class="glossary">floor area ratio</a> (FAR)
    and height limit substantially higher than other R9 districts, R9X regulations produce the taller, bulkier 16- to
    18-story apartment buildings characteristic of Chelsea and Murray Hill in Manhattan.</p>
  <p>The FAR in R9X districts is 9.0. On a <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#wide_street" class="glossary">wide street</a>, the <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#base_height" class="glossary">base
      height</a> of a new building must be 105 to 120 feet with a 10 foot <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#setback_building" class="glossary">setback</a> before
    rising to a maximum height of 170 feet. On a wide street, the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#streetwall" class="glossary">street wall</a> must
    extend along the entire width of the zoning lot and at least 70% of the street wall must be within eight feet of the
    <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#lot_line_zoning"
      class="glossary">street line</a>.. On a narrow street, the base height must be 60 to 120 feet with a 15‑foot
    setback before rising to a maximum height of 160 feet. If providing a qualifying ground floor on a <a
      target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#narrow" class="glossary">narrow
      street</a>,, the maximum base height is 125 feet, and the maximum height is 165 feet. On a <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#wide_street" class="glossary">wide street</a>, the
    maximum base height becomes 125 feet, and the maximum height is 175 feet.</p>
  <p>Higher maximum FAR and heights are available for buildings participating in the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#inclusionary" class="glossary">Inclusionary Housing
      Program</a> or that provide certain senior facilities.</p>
  <p>Off-street parking is generally required for 40 percent of a building’s dwelling units, but requirements are lower
    for <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#income_restricted_housing_unit"
      class="glossary">income-restricted housing units</a> (IRHU) and are further modified in certain areas, such as
    within the <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page#transit_zone"
      class="glossary">Transit Zone</a> and the <a target="_blank"
      href="https://www.nyc.gov/site/planning/zoning/glossary.page#manhattan_core" class="glossary">Manhattan Core</a>,
    or for lots less than 15,000 square feet. Off-street parking requirements can be waived if 15 or fewer parking
    spaces are required or if the zoning lot is 10,000 square feet or less.</p>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r9x_diagram.jpg"
        alt="R9X  Regulations">
      <div class="img-caption"><img class="file_icon"
          src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document"> <a target="_blank"
          href="https://www.nyc.gov/assets/planning/download/pdf/zoning/districts-tools/r9x_diagram.pdf">R9X
          Regulations</a></div>
    </div>
  </div>
  <div class="row img-row">
    <div class="span12"><img
        src="https://www.nyc.gov/assets/planning/images/content/pages/zoning/districts-tools/residence/r9x_table.jpg"
        alt="R9X  Regulations"></div>
  </div>
</div>