<li class="lot-bookmark">
  <span class="icon tax-lot"></span>
  <LinkTo
    @route="map-feature.lot"
    @models={{array lot.properties.boro lot.properties.block lot.properties.lot}}
  >
    {{lot.title}}
    <span class="dark-gray" data-test-lot-property="bbl">
      {{lot.subtitle}}
    </span>
  </LinkTo>
  <button
    class="float-right lu-red delete-bookmark-button" type="button" {{action "_deleteBookmark" lot}}
  >
    &times;
  </button>
</li>