<div class="content-area cell large-5 large-cell-block-y xxlarge-4">
  {{#link-to 'index' classNames='close-button'}}<span aria-hidden="true">&times;</span>{{/link-to}}

  <h1 class="">Welcome to ZoLa, New York City's zoning &amp; land&nbsp;use&nbsp;map.</h1>

  <p class="lead">ZoLa provides a simple way to research zoning regulations in New York City. You can find the zoning for your property, discover new proposals for your neighborhood, and learn where City Planning initiatives are happening throughout the City&mdash;such as FRESH and the Inclusionary Housing Program. The <a href="http://nyc.gov/planning">Department of City Planning</a> is committed to making zoning accessible to everyone. We hope this tool will be helpful to you.</p>

  <hr>

  <p class="text-small"><em>Disclaimer: ZoLa was developed by the City of New York and is provided solely for informational purposes. The City makes no representation as to the accuracy of the information or to its suitability for any purpose. The City disclaims any liability for errors that may be contained herein and shall not be responsible for any damages consequential or actual, arising out of or in connection with the use of this information. The City makes no warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose as to the quality, content, accuracy, or completeness of the information, text graphics, links and other items contained in ZoLa.</em></p>

  {{outlet}}

</div>
