<div class="content-close-button-container">{{#link-to 'index' classNames='close-button'}}<span aria-hidden="true">&times;</span>{{/link-to}}</div>

<div class="content-area cell large-5 large-cell-block-y xxlarge-4">

  <h1 class="header-xlarge">Welcome to New York&nbsp;City's zoning &amp; land&nbsp;use&nbsp;map.</h1>

  <p class="lead">ZoLa provides a simple way to research zoning regulations. Find the zoning for your property, discover new proposals for your neighborhood, and learn where City Planning initiatives are happening throughout the City.</p>

  <h3 class="header-medium small-margin-bottom">Zoning Questions</h3>

  <p>For general zoning questions, read the <a href="https://www1.nyc.gov/site/planning/zoning/zoning-faq.page" target="_blank"><strong>Zoning Help Desk FAQ</strong></a>. If your question isn't answered there, call <a href="tel:212-720-3291"><strong>212-720-3291</strong></a> during business hours (8:30AM–5:30PM, Monday–Friday, closed on legal holidays). Leave a detailed message with your block and lot information, and a zoning specialist will get back to you within two business days. Or fill out the <a href="https://www1.nyc.gov/site/planning/zoning/zoning-inquiry.page" target="_blank"><strong>Zoning Information Inquiry Form</strong></a>.</p>

  <h3 class="header-medium small-margin-bottom">Application Feedback</h3>

  <p>To let <a href="https://twitter.com/nycplanninglabs" target="_blank"><strong>@NYCPlanningLabs</strong></a> know how this app could be better, <a href="https://github.com/NYCPlanning/labs-zola/issues/" target="_blank"><strong>add a GitHub Issue</strong></a>, Tweet <a href="https://twitter.com/intent/tweet?text=%40NYCPlanningLabs%20%23ReimagineZoLa" target="_blank"><strong>#ReimagineZoLa</strong></a>, or send an email to <a href="mailto:zolagis@planning.nyc.gov"><strong>zolagis@planning.nyc.gov</strong></a>.</p>

  <hr>

  <p class="text-small"><em>ZoLa was developed by the City of New York using NYC open data and other public data sources and is provided solely for informational purposes. The City makes no representation as to the accuracy of the information or to its suitability for any purpose. The City disclaims any liability for errors that may be contained herein and shall not be responsible for any damages consequential or actual, arising out of or in connection with the use of this information. The City makes no warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose as to the quality, content, accuracy, or completeness of the information, text graphics, links and other items contained in ZoLa. The text of the Zoning Resolution can be accessed <a href="http://www1.nyc.gov/site/planning/zoning/access-text.page">here</a> and the zoning maps can be accessed <a href="http://www1.nyc.gov/site/planning/zoning/index-map.page">here</a>.</em></p>

  {{outlet}}

</div>
