<div class="content-close-button-container">
  <LinkTo @route="index" class="close-button">
    <span aria-hidden="true">
      &times;
    </span>
  </LinkTo>
</div>
<div class="content-area cell large-5 large-cell-block-y xxlarge-4 bookmarks">
  {{#if (await this.bookmarksSettled)}}
    {{#each-in (group-by "recordType.content" this.model) as |key values|}}

    {{!--
      Should be one of:
        commercial-overlay
        lot
        special-purpose-district
        special-purpose-subdistrict
        zoning-district
        zoning-map-amendment
      --}}

      {{component (concat 'bookmarks/types/' key)
        items=values
        bookmarkType=key
      }}
    {{/each-in}}
  {{/if}}

  {{#if (is-rejected this.bookmarksSettled)}}
    Something went wrong:

    <br/>
    {{get (promise-rejected-reason this.bookmarksSettled) 'message'}}.
  {{/if}}

  {{#unless model.length}}
    <div class="no-bookmarks">
      <div class="align-self-middle large-text-center">
        <h1 class="header-large">
          You haven't bookmarked&nbsp;anything.
        </h1>
        <p>
          You can add bookmarks to this page by clicking the
          {{fa-icon icon="bookmark"}}
          icon on other pages&mdash;like Tax Lots and Zoning Map Amendments.
        </p>
        <p>
          From this page you can quickly navigate to all of your bookmarked&nbsp;information.
        </p>
      </div>
    </div>
  {{/unless}}

  {{outlet}}
</div>