<div class="content-area cell large-5 large-cell-block-y xxlarge-4 bookmarks">
  {{!-- <h1>{{fa-icon "bookmark"}} My List</h1> --}}

  <h3>Map Pins</h3>
  <ul class="no-bullet">
    <li><a href="#">{{fa-icon "map-pin"}} 200 Broadway, Manhattan, New York, NY, USA</a> <button class="float-right lu-red">&times;</button></li>
  </ul>

  <h3>Tax Lots</h3>
  <ul class="no-bullet">
    <li><span class="icon tax-lot"></span> <a href="#">4060760032 <span class="dark-gray">200-05 34 Avenue, Queens</span></a> <button class="float-right lu-red">&times;</button></li>
    <li><span class="icon tax-lot"></span> <a href="#">2034370001 <span class="dark-gray">2000 Cornell Avenue, Bronx</span></a> <button class="float-right lu-red">&times;</button></li>
    <li><span class="icon tax-lot"></span> <a href="#">2030950004 <span class="dark-gray">2004 Crotona Avenue, Bronx</span></a> <button class="float-right lu-red">&times;</button></li>
    <li><span class="icon tax-lot"></span> <a href="#">3072990050 <span class="dark-gray">2005 Avenue T, Brooklyn</span></a> <button class="float-right lu-red">&times;</button></li>
  </ul>

  <h3>Zoning Map Amendments</h3>
  <ul class="no-bullet">
    <li><a href="#"><span class="icon polygon"></span> 120033zmm <span class="dark-gray">Rudin West Village Project</span></a> <button class="float-right lu-red">&times;</button></li>
    <li><a href="#"><span class="icon polygon"></span> 020087zmq <span class="dark-gray">Vernon Blvd Rezoning</span></a> <button class="float-right lu-red">&times;</button></li>
  </ul>

  {{outlet}}

</div>
