<div class="content-close-button-container">
  <LinkTo @route="index" class="close-button">
    <span aria-hidden="true">
      &times;
    </span>
  </LinkTo>
</div>
<div
  class="content-area cell large-5 large-cell-block-y xxlarge-4 text-center medium-text-left"
>
  <h1>
    New Features!
  </h1>

  <h2 class="header-medium">
    Zoning Map Index
  </h2>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <a href="/img/slideshow/zoning-map-index.gif" target="_blank" rel="noopener noreferrer">
        <img class="feature-image" src="/img/slideshow/zoning-map-index.gif" alt="A video showing the Zoning Map Index functionality" />
      </a>
    </div>
    <div class="cell medium-9">
      <p>
        Navigate the official NYC Zoning Maps with our interactive index filter.
      </p>
    </div>
  </div>

  <h2 class="header-medium">
    Search History
  </h2>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <a href="/img/slideshow/search-history.gif" target="_blank" rel="noopener noreferrer">
        <img class="feature-image" src="/img/slideshow/search-history.gif" alt="A video showing the search history functionality" />
      </a>
    </div>
    <div class="cell medium-9">
      <p>
        Access what you're looking for more quickly using your search history.
      </p>
    </div>
  </div>

  <h2 class="header-medium">
    Compare Tax Lots
  </h2>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <a href="/img/slideshow/side-by-side.gif" target="_blank" rel="noopener noreferrer">
        <img class="feature-image" src="/img/slideshow/side-by-side.gif" alt="A video showing the tax lot comparison functionality" />
      </a>
    </div>
    <div class="cell medium-9">
      <p>
        Select two tax lots for side-by-side comparison.
      </p>
    </div>
  </div>

  <h2 class="header-medium">
    Bookmark Sets of Layers
  </h2>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <a href="/img/slideshow/bookmark-layer-sets.gif" target="_blank" rel="noopener noreferrer">
        <img class="feature-image" src="/img/slideshow/bookmark-layer-sets.gif" alt="A video showing the layer bookmark functionality" />
      </a>
    </div>
    <div class="cell medium-9">
      <p>
        Bookmark your selected layers to return to later.
      </p>
    </div>
  </div>

  <h2 class="header-medium">
    Access Relevant Links
  </h2>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <a href="/img/slideshow/relevant-links.gif" target="_blank" rel="noopener noreferrer">
        <img class="feature-image" src="/img/slideshow/relevant-links.gif" alt="A video showing the relevant links functionality" />
      </a>
    </div>
    <div class="cell medium-9">
      <p>
        Get the information you need faster by using the new links to sites related to the selected tax lot.
      </p>
    </div>
  </div>

<h2 class="header-medium">
    Improved Measurement Tools
  </h2>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <a href="/img/slideshow/multiple-measurements.gif" target="_blank" rel="noopener noreferrer">
        <img class="feature-image" src="/img/slideshow/multiple-measurements.gif" alt="A video showing the multiple measurement functionality" />
      </a>
    </div>
    <div class="cell medium-9">
      <p>
        Sum the area or distance of multiple measurements.
      </p>
    </div>
  </div>

  <h2 class="header-medium">
    Hide the sidebar
  </h2>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <a href="/img/slideshow/toggle-sidebar.gif" target="_blank" rel="noopener noreferrer">
        <img class="feature-image" src="/img/slideshow/toggle-sidebar.gif" alt="A video showing the sidebar toggle functionality" />
      </a>
    </div>
    <div class="cell medium-9">
      <p>
        See more of the map by hiding the layers menu.
      </p>
    </div>
  </div>

  <h2 class="header-medium">
    Turn Off Layers
  </h2>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <a href="/img/slideshow/toggle-all-layers-off.gif" target="_blank" rel="noopener noreferrer">
        <img class="feature-image" src="/img/slideshow/toggle-all-layers-off.gif" alt="A video showing the all layer toggle button functionality" />
      </a>
    </div>
    <div class="cell medium-9">
      <p>
        Turn off all layers with the click of a button.
      </p>
    </div>
  </div>
  <hr />

  <h1>
    Features
  </h1>
  <h2 class="header-medium">
    Search
  </h2>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <img class="feature-image" src="/img/feature-search.png" alt="A screenshot of the search functionality" />
    </div>
    <div class="cell medium-9">
      <p>
        The search input provide various types of results as you type. Search for known addresses, tax lots (by BBL or address), zoning districts, zoning map amendments (by ULURP number or name), neighborhoods, and special purpose districts.
      </p>
    </div>
  </div>
  <h4>
    Shareable Routes
  </h4>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <img class="feature-image" src="/img/feature-url.png" alt="A screenshot of a shareable URL" />
    </div>
    <div class="cell medium-9">
      <p>
        Each tax lot, zoning district, special purpose district, and zoning map amendment lives at its own URL, so you can easily share links. The currently selected map layers are also included in the URL, so you can customize your view and share it with a friend.
      </p>
    </div>
  </div>
  <h4>
    Layer Controls
  </h4>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <img class="feature-image" src="/img/feature-palette.png" alt="A screenshot of the layer controls" />
    </div>
    <div class="cell medium-9">
      <p>
        The default view includes zoning districts, tax lots, commercial overlays, and subways. But many other layers are available, some with additional filtering controls. Explore zoning map amendments, aerial imagery, historic districts, landmarks, and more.
      </p>
    </div>
  </div>
  <h4>
    Advanced Map Controls
  </h4>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <img class="feature-image" src="/img/feature-map-controls.png" alt="A screenshot of the map controls" />
    </div>
    <div class="cell medium-9">
      <p>
        Next-generation web mapping technology used in ZoLa allows you to fine tune the map's zoom, tilt, and rotation. Use the scrollwheel to zoom, hold Ctrl while dragging the map to adjust pitch and bearing. Click the compass icon to reset north.
      </p>
    </div>
  </div>
  <h4>
    Find my Location
  </h4>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <img class="feature-image" src="/img/feature-find-my-location.png" alt="A screenshot of the find my location functionality" />
    </div>
    <div class="cell medium-9">
      <p>
        Click the locator control and ZoLa will zoom in on your current location (you may need to give permission via your web browser). This feature works great on mobile, so you can quickly lookup property and zoning data on the go.
      </p>
    </div>
  </div>
  <h4>
    BBL Lookup
  </h4>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <img class="feature-image" src="/img/feature-bbl-lookup.png" alt="A screenshot of the BBL lookup functionality" />
    </div>
    <div class="cell medium-9">
      <p>
        For users who want to enter a borough, block, and lot as separate fields, the BBL lookup allows you to choose a borough from the dropdown, and enter the block and lot as separate numbers.
      </p>
    </div>
  </div>
  <h4>
    Bookmarks
  </h4>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <img class="feature-image" src="/img/feature-save.png" alt="A screenshot of the bookmarks functionality"/>
    </div>
    <div class="cell medium-9">
      <p>
        Tax lots and other routes can be added to your "Saved" list, so you can quickly reference them later. Just click the bookmark icon. Address search results are automatically added so you can retrace your steps as you explore the map. Your bookmarks are cached in your web browser, so they're only available if you visit ZoLa again using the same device & browser.
      </p>
    </div>
  </div>
  <h4>
    3D Buildings
  </h4>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <img class="feature-image" src="/img/feature-3d-buildings.png" alt="A screenshot of the 3D buildings layer" />
    </div>
    <div class="cell medium-9">
      <p>
        Turn on the 3D Buildings layer (data sourced from OpenStreetMap) to view current building masses, streetwalls, and setbacks along with your other layers. Be sure to try different pitch and bearing settings as you explore.
      </p>
    </div>
  </div>
  <h4>
    Open Data
  </h4>
  <p>
    ZoLa is built entirely on open data. The data page provides dataset descriptions, source links, and a timestamp of the last update.
  </p>
  <h4>
    Open Source
  </h4>
  <p>
    As with most NYC Planning Labs projects, ZoLa is 100% open source and developed in the open. You can
    <a href="https://github.com/NYCPlanning/labs-zola">
      follow along on GitHub
    </a>
    , and help improve ZoLa by opening issues to report bugs or request features. If you’re a developer and want to contribute to ZoLa, we will gladly accept pull requests.
  </p>
  {{outlet}}
</div>