<div class="content-close-button-container">{{#link-to 'index' classNames='close-button'}}<span aria-hidden="true">&times;</span>{{/link-to}}</div>

<div class="content-area cell large-5 large-cell-block-y xxlarge-4 text-center medium-text-left">

  <h1>Features</h1>

  <h2 class="header-medium">Search</h2>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <img class="feature-image" src='/img/feature-search.png' />
    </div>
    <div class="cell medium-9">
      <p>The search input provide various types of results as you type.  Search for known addresses, tax lots (by BBL or address), zoning districts, zoning map amendments (by ULURP number or name), neighborhoods, and special purpose districts.</p>
    </div>
  </div>

  <h4>Shareable Routes</h4>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <img class="feature-image" src='/img/feature-url.png' />
    </div>
    <div class="cell medium-9">
      <p>Each tax lot, zoning district, special purpose district, and zoning map amendment  lives at its own URL, so you can easily share links.  The currently selected map layers are also included in the URL, so you can customize your view and share it with a friend.</p>
    </div>
  </div>

  <h4>Layer Controls</h4>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <img class="feature-image" src='/img/feature-palette.png' />
    </div>
    <div class="cell medium-9">
      <p>The default view includes zoning districts, tax lots, commercial overlays, and subways. But many other layers are available, some with additional filtering controls.  Explore zoning map amendments, aerial imagery, historic districts, landmarks, and more.</p>
    </div>
  </div>

  <h4>Advanced Map Controls</h4>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <img class="feature-image" src='/img/feature-map-controls.png' />
    </div>
    <div class="cell medium-9">
      <p>Next-generation web mapping technology used in ZoLa allows you to fine tune the map's zoom, tilt, and rotation. Use the scrollwheel to zoom, hold Ctrl while dragging the map to adjust pitch and bearing.  Click the compass icon to reset north.</p>
    </div>
  </div>

  <h4>Find my Location</h4>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <img class="feature-image" src='/img/feature-find-my-location.png' />
    </div>
    <div class="cell medium-9">
      <p>Click the locator control and ZoLa will zoom in on your current location (you may need to give permission via your web browser).  This feature works great on mobile, so you can quickly lookup property and zoning data on the go.</p>
    </div>
  </div>

  <h4>BBL Lookup</h4>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <img class="feature-image" src='/img/feature-bbl-lookup.png' />
    </div>
    <div class="cell medium-9">
      <p>For users who want to enter a borough, block, and lot as separate fields, the BBL lookup allows you to choose a borough from the dropdown, and enter the block and lot as separate numbers.</p>
    </div>
  </div>

  <h4>Bookmarks</h4>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <img class="feature-image" src='/img/feature-save.png' />
    </div>
    <div class="cell medium-9">
      <p>Tax lots and other routes can be added to your "Saved" list, so you can quickly reference them later. Just click the bookmark icon. Address search results are automatically added so you can retrace your steps as you explore the map. Your bookmarks are cached in your web browser, so they're only available if you visit ZoLa again using the same device & browser.</p>
    </div>
  </div>

  <h4>3D Buildings</h4>
  <div class="grid-x">
    <div class="cell medium-3 feature-image-cell">
      <img class="feature-image" src='/img/feature-3d-buildings.png' />
    </div>
    <div class="cell medium-9">
      <p>Turn on the 3D Buildings layer (data sourced from OpenStreetMap) to view current building masses, streetwalls, and setbacks along with your other layers.  Be sure to try different pitch and bearing settings as you explore.</p>
    </div>
  </div>

  <h4>Open Data</h4>
  <p>ZoLa is built entirely on open data. The data page provides dataset descriptions, source links, and a timestamp of the last update.</p>

  <h4>Open Source</h4>
  <p>As with most NYC Planning Labs projects, ZoLa is 100% open source and developed in the open. You can <a href="https://github.com/NYCPlanning/labs-zola">follow along on GitHub</a>, and help improve ZoLa by opening issues to report bugs or request features. If you’re a developer and want to contribute to ZoLa, we will gladly accept pull requests.</p>

  {{outlet}}

</div>
