<div class="content-area cell large-5 large-cell-block-y xxlarge-4">
  {{#link-to 'index' classNames='close-button'}}<span aria-hidden="true">&times;</span>{{/link-to}}

  <h2>Features</h2>

  <h4>Search</h4>
  <p>The search input provide various types of results as you type.  Search for known addresses, tax lots (by bbl or address), zoning districts, zoning map amendments (by ULURP number or name), neighborhoods, and special purpose districts.</p>

  <h4>Shareable Routes</h4>
  <p>Tax Lots, Zoning Districts, Special Purpose Districts, and Zoning Map Amendments each live at their own URL, so you can easily share links.  The currently selected map layers will also persist in the URL, so you can customize the view and share it with a friend.</p>

  <h4>Layer Controls</h4>
  <p>The default view includes zoning districts, tax lots, commercial overlays, and subways, but many other layers are available, some with additional filtering controls.  Explore Zoning Map Amendments, Aerial Imagery, Historic Districts, Landmarks, and more.</p>

  <h4>Advanced Map Controls</h4>
  <p>The next-generation web mapping technology we use in ZoLa allows you to fine tune the map's zoom, pitch, and rotation. Use the scrollwheel to zoom, hold Ctrl while dragging the map to adjust pitch and bearing.  Click the compass icon to reset pitch and bearing.</p>

  <h4>Find my Location</h4>
  <p>Click the locator control and ZoLa will zoom in on our current location.  (You may need to give permission via your web browser)  This feature works great on mobile, so you can quickly lookup property and zoning data on the go.</p>

  <h4>BBL Lookup</h4>
  <p>For users who want to enter a borough, block, and lot as separate fields, the BBL Lookup field allows you to choose a borough from the dropdown, and enter the block and lot as separate numbers.</p>

  <h4>Bookmarks</h4>
  <p>Tax Lots other features can be added to your "Saved" list in ZoLa, so you can quickly reference them later. Just click the bookmark icon. Address Search results will automatically be added so you can retrace your steps as you explore the map. Your bookmarks are saved in your web browser, so they're only available if you visit ZoLa again using the same device & browser.</p>

  <h4>3D Buildings</h4>
  <p>Turn on the 3D Buildings Layer (data sourced from OpenStreetMap) to view current building masses, streetwalls, and setbacks along with your other layers.  Be sure to try different pitch and bearing settings as you explore.</p>

  <h4>Open Data</h4>
  <p>ZoLa is built entirely on Open Data and the data page provides dataset descriptions, source links, and last update date.</p>

  <h4>Open Source</h4>
  <p>As with most NYC Planning Labs projects,  ZoLa is 100% Open Source and developed in the open.  You can follow along Github, and help us out by opening an issue to report a bug or request a feature.  If you’re a developer and want to help contribute to ZoLa, we will gladly accept pull requests.</p>

  {{outlet}}

</div>
