{{outlet}}

<div
  class="content-close-button-container"
>
  {{#link-to 'index'
    classNames='close-button'
  }}
    <span aria-hidden="true">
      &times;
    </span>
  {{/link-to}}
</div>

{{component
  (concat 'layer-group-display/' model.layerGroupType)
  model=model.taskInstance
  class="content-area cell large-5 large-cell-block-y xxlarge-4"
}}
