<div class="content-close-button-container">
  {{#link-to "index" data-test-button="close-route" classNames="close-button"}}
    <span aria-hidden="true">
      &times;
    </span>
  {{/link-to}}
</div>
<div class="content-area cell large-5 large-cell-block-y xxlarge-4">
  {{outlet}}
</div>