<div class="content-area cell large-5 large-cell-block-y xxlarge-4">
  {{#link-to 'index' classNames='close-button'}}<span aria-hidden="true">&times;</span>{{/link-to}}

  {{bookmark-button
    bookmark=(await model.bookmark)
    createBookmark=(action 'createBookmark')}}

  <label class="header-label clearfix">
    Special Purpose Subdistrict <span class="medium-gray">|</span> {{model.sdlbl}}
  </label>

  <h1 class="content-header">
    <span class="spd-header">{{model.spname}}</span>
  </h1>
</div>

{{outlet}}
